n8n/rag-tables-sync.json
{
  "name": "SOC RAG Tables Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 12,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Daily 12:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Config; year derived so it rolls over automatically.\nconst year = new Date().getFullYear();\nconst sourceFolder = '1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K';  // READ the 3 <year>_SOC* files from here (central folder)\nconst outFolder = '1XIAfd1FKPHK9D8sCf5t5mHqZbZdp5F-X';     // WRITE the 4 output files here\nconst depts = ['SOCN', 'SOCE', 'SOCW'];\nconst socTitles = depts.map(d => year + '_' + d);\nconst nameClause = socTitles.map(t => \"name='\" + t + \"'\").join(' or ');\nconst driveQuery = \"'\" + sourceFolder + \"' in parents and trashed=false and (\" + nameClause + \")\";\nreturn [{ json: { year, sourceFolder, outFolder, depts, socTitles, driveQuery } }];\n"
      },
      "id": "build-config",
      "name": "Build Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.driveQuery }}"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "100"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "find-soc-files",
      "name": "Find SOC Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_googleDriveOAuth2Api",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('Build Config').first().json;\nconst files = ($input.first().json.files) || [];\nif (!files.length) throw new Error('No SOC files found for ' + cfg.socTitles.join(', ') +\n  '. Check the names and that they are shared with this account, and that they live in the source folder.');\nreturn files.map(f => ({ json: { dept: String(f.name).split('_')[1] || f.name,\n  spreadsheetId: f.id, socTitle: f.name } }));\n"
      },
      "id": "plan-reads",
      "name": "Plan Reads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values:batchGet?ranges=%27New-Old%20Face%27%21A%3AZZ&ranges=%27Show%20Up%27%21A%3AZZ&ranges=%27Consecutive%27%21A%3AZZ&ranges=%27Rotation%27%21A%3AZZ&majorDimension=ROWS&valueRenderOption=FORMATTED_VALUE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "read-aspect-tabs",
      "name": "Read Aspect Tabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_googleSheetsOAuth2Api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Reshape the 4 aspect tabs (New-Old Face / Show Up / Consecutive / Rotation)\n// across the 3 SOC files into 11 flat tables for RAG, SPLIT BY GRAIN (Month /\n// Week / Day) into separate files. NO AI: reads only the counts the appscript\n// already computed (FORMATTED_VALUE renders each HYPERLINK count as its\n// number) and derives every percentage.\n//\n// WHY split by grain (2026-07-21, user request): a metric that doesn't apply\n// at a given grain was previously written as a BLANK cell in a shared table\n// (e.g. Show Up's day-count buckets don't exist for a Day row) -- the RAG\n// ingestion tool infers a column's type from populated cells and then throws\n// trying to coerce a blank to that type (\"cannot coerce '' to integer\"). Each\n// grain now gets its OWN file with ONLY the columns that are ever populated at\n// that grain, so no cell is ever structurally blank.\n//\n// Parses the MONTHLY, WEEKLY, and DAILY blocks per aspect. Anchors on SEMANTIC\n// marker cells (scope labels, 'face'/'bucket', streak labels, the rotation\n// column header, and daily 'team'+YYYY-MM-DD headers) so decoration never\n// affects it. Month vs Week is distinguished by the token type following the\n// same 'face'/'bucket' marker (month names vs \"W7\"-style ISO week labels) --\n// both grains reuse the identical renderer/marker in engine.gs, so this is a\n// token-shape check, not a different marker. Shift_id (NBSP-indented) rows are\n// skipped -- team level only. Consecutive has no daily grain (matches the\n// appscript: month + week only). Throws if it parses 0 rows across ALL 11\n// outputs so a structural drift is loud, not a silent empty file.\nconst YEAR = $('Build Config').first().json.year;\nconst OUT_FOLDER = $('Build Config').first().json.outFolder;\n\nconst MONTHS = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst MONSET = new Set(MONTHS);\nconst VIS = new Set(['IB','CBS','mCBS','MS','OBI','OBC','OBS','OBD']);\nconst BUCKETS = ['1-5','6-10','11-15','16-20','21-30'];\nconst BSET = new Set(BUCKETS);\nconst WEEK_BUCKETS = ['1-2','3-4','5-7'];\nconst WBSET = new Set(WEEK_BUCKETS);\nconst NBSP = String.fromCharCode(160);\nconst USED = 'Used to work for at least 3 consecutive days (at least one period)';\nconst NEVER = 'Never work for at least 3 consecutive days (at least one period)';\nconst ROT_COLS = ['Non Rotation','Rotation','Non Rotation and show up 1 day in month',\n  'Non Rotation and show up 1 day in month','Total','Non Rotation','Rotation'];\n\nconst S = (v) => (v == null ? '' : String(v)).trim();\nconst rawCell = (r, i) => { const v = r && r[i]; return v == null ? '' : String(v); };\nconst hasNBSP = (s) => s.indexOf(NBSP) !== -1;\nconst isMonth = (v) => MONSET.has(S(v));\nconst isWeek = (v) => /^W\\d+$/.test(S(v));\nconst isDay = (v) => /^\\d{4}-\\d{2}-\\d{2}$/.test(S(v));\nconst num = (v) => { const s = S(v).replace(/,/g, ''); if (s === '' || s === '-') return 0; const n = parseInt(s, 10); return isNaN(n) ? 0 : n; };\nconst pctOf = (a, b) => b ? (Math.round(a / b * 10000) / 100) + '%' : '';\nfunction scopeParts(label) { const t = S(label).split(/\\s+/); return { team: t[0] === 'All' ? 'All' : t[0], nat: t[t.length - 1] }; }\nfunction isScope(label) { const t = S(label).split(/\\s+/); const nat = t[t.length - 1]; if (nat !== 'Burmese' && nat !== 'Thai') return false; if (t[0] === 'All') return t.length === 3; return t.length === 2 && VIS.has(t[0]); }\n\nfunction ordered() { const m = new Map(); const ks = []; return {\n  get(k) { if (!m.has(k)) { m.set(k, {}); ks.push(k); } return m.get(k); },\n  out(fn) { return ks.map(k => fn(m.get(k))); } }; }\n\n// Find every DAILY block in a tab (head count / daily face / daily rotation).\n// A daily table header is 'team' followed by YYYY-MM-DD day columns (the\n// by-category/trend blocks also start with 'team' but are followed by MONTHS, so\n// the day-key regex separates them). The block's kind comes from the nearest\n// preceding 'DAILY ...' section title. Returns [{tag, rows:[{scope, counts}]}].\nfunction dailyBlocks(values) {\n  const out = [];\n  for (let i = 0; i < values.length; i++) {\n    const r = values[i] || [];\n    if (S(r[0]) !== 'team' || !isDay(r[1])) continue;\n    let tag = 'HEADCOUNT';\n    for (let k = i - 1; k >= 0 && k >= i - 4; k--) {\n      const t = rawCell(values[k] || [], 0).toUpperCase();\n      if (t.indexOf('DAILY') !== -1) {\n        if (t.indexOf('HEAD COUNT') !== -1) tag = 'HEADCOUNT';\n        else if (t.indexOf('NON ROTATION') !== -1) tag = 'NONROT';\n        else if (t.indexOf('OLD FACE') !== -1) tag = 'OLD';\n        else if (t.indexOf('NEW FACE') !== -1) tag = 'NEW';\n        else if (t.indexOf('ROTATION') !== -1) tag = 'ROT';\n        break;\n      }\n    }\n    const cols = [];\n    for (let c = 1; c < r.length; c++) { if (isDay(r[c])) cols.push([c, S(r[c])]); }\n    const rows = [];\n    let j = i + 1;\n    for (; j < values.length; j++) {\n      const rr = values[j] || [];\n      const rawLabel = rawCell(rr, 0);\n      if (S(rawLabel) === '') break;\n      if (hasNBSP(rawLabel)) continue;      // Shift_id detail row\n      if (!isScope(rawLabel)) continue;\n      const counts = {};\n      cols.forEach(cd => { counts[cd[1]] = num(rr[cd[0]]); });\n      rows.push({ scope: rawLabel, counts: counts });\n    }\n    out.push({ tag: tag, rows: rows });\n    i = j;\n  }\n  return out;\n}\n\n// ---- New-Old Face: month + week share the 'face' marker, discriminated by\n// whether its tokens are month names or \"W7\"-style week labels. ----\nfunction parseNewOld(values, dept) {\n  const A = ordered(), W = ordered();\n  let scope = null, months = null, weeks = null, mode = null;\n  for (const rr of values) { const r = rr || [];\n    if (hasNBSP(rawCell(r, 0))) continue;\n    const f = S(r[0]);\n    if (isScope(f)) { scope = f; months = null; weeks = null; mode = null; continue; }\n    if (f === 'face') {\n      const toks = r.slice(1);\n      const ms = toks.filter(isMonth), ws = toks.filter(isWeek);\n      if (ms.length) { months = ms; mode = 'month'; }\n      else if (ws.length) { weeks = ws; mode = 'week'; }\n      else mode = null;\n      continue;\n    }\n    if ((f === 'Old' || f === 'New') && scope && mode === 'month' && months) {\n      for (let i = 0; i < months.length; i++) { const c = A.get(scope + '|' + months[i]);\n        c.scope = scope; c.month = months[i]; c[f === 'Old' ? 'old' : 'new'] = num(r[1 + i]); } }\n    if ((f === 'Old' || f === 'New') && scope && mode === 'week' && weeks) {\n      for (let i = 0; i < weeks.length; i++) { const c = W.get(scope + '|' + weeks[i]);\n        c.scope = scope; c.week = weeks[i]; c[f === 'Old' ? 'old' : 'new'] = num(r[1 + i]); } } }\n  const monthly = A.out(c => { const p = scopeParts(c.scope); const o = c.old || 0, n = c.new || 0, t = o + n;\n    return [dept, p.nat, p.team, YEAR, 'Month', c.month, o, n, pctOf(o, t), pctOf(n, t)]; });\n  const weekly = W.out(c => { const p = scopeParts(c.scope); const o = c.old || 0, n = c.new || 0, t = o + n;\n    return [dept, p.nat, p.team, YEAR, 'Week', c.week, o, n, pctOf(o, t), pctOf(n, t)]; });\n  const D = ordered();\n  dailyBlocks(values).forEach(b => { if (b.tag !== 'OLD' && b.tag !== 'NEW') return;\n    b.rows.forEach(row => { Object.keys(row.counts).forEach(day => {\n      const c = D.get(row.scope + '|' + day); c.scope = row.scope; c.day = day;\n      c[b.tag === 'OLD' ? 'old' : 'new'] = row.counts[day]; }); }); });\n  const daily = D.out(c => { const p = scopeParts(c.scope); const o = c.old || 0, n = c.new || 0, t = o + n;\n    return [dept, p.nat, p.team, YEAR, 'Day', c.day, o, n, pctOf(o, t), pctOf(n, t)]; })\n    .filter(row => (row[6] || 0) + (row[7] || 0) > 0);\n  return { monthly, weekly, daily };\n}\n\n// ---- Show Up: month + week share the 'bucket' marker; WEEK BUCKETS are a\n// DIFFERENT set (1-2/3-4/5-7) than monthly (1-5/6-10/.../21-30), so weekly gets\n// its own column schema, not just a Period-format change. ----\nfunction parseShowUp(values, dept) {\n  const A = ordered(), W = ordered();\n  let scope = null, months = null, weeks = null, mode = null;\n  for (const rr of values) { const r = rr || [];\n    if (hasNBSP(rawCell(r, 0))) continue;\n    const f = S(r[0]);\n    if (isScope(f)) { scope = f; months = null; weeks = null; mode = null; continue; }\n    if (f === 'bucket') {\n      const toks = r.slice(1);\n      const ms = toks.filter(isMonth), ws = toks.filter(isWeek);\n      if (ms.length) { months = ms; mode = 'month'; }\n      else if (ws.length) { weeks = ws; mode = 'week'; }\n      else mode = null;\n      continue;\n    }\n    if (mode === 'month' && BSET.has(f) && scope && months) {\n      for (let i = 0; i < months.length; i++) { const c = A.get(scope + '|' + months[i]);\n        c.scope = scope; c.month = months[i]; c[f] = num(r[1 + i]); } }\n    if (mode === 'week' && WBSET.has(f) && scope && weeks) {\n      for (let i = 0; i < weeks.length; i++) { const c = W.get(scope + '|' + weeks[i]);\n        c.scope = scope; c.week = weeks[i]; c[f] = num(r[1 + i]); } } }\n  const monthly = A.out(c => { const p = scopeParts(c.scope); const vals = BUCKETS.map(b => c[b] || 0);\n    const t = vals.reduce((a, b) => a + b, 0);\n    return [dept, p.nat, p.team, YEAR, 'Month', c.month].concat(vals, [t], BUCKETS.map(b => pctOf(c[b] || 0, t))); });\n  const weekly = W.out(c => { const p = scopeParts(c.scope); const vals = WEEK_BUCKETS.map(b => c[b] || 0);\n    const t = vals.reduce((a, b) => a + b, 0);\n    return [dept, p.nat, p.team, YEAR, 'Week', c.week].concat(vals, [t], WEEK_BUCKETS.map(b => pctOf(c[b] || 0, t))); });\n  const daily = [];\n  dailyBlocks(values).forEach(b => { if (b.tag !== 'HEADCOUNT') return;\n    b.rows.forEach(row => { const p = scopeParts(row.scope);\n      Object.keys(row.counts).forEach(day => { const hc = row.counts[day]; if (hc <= 0) return;\n        daily.push([dept, p.nat, p.team, YEAR, 'Day', day, hc]); }); }); });\n  return { monthly, weekly, daily };\n}\n\n// ---- Consecutive: monthly parsing UNCHANGED (its own block markers). Weekly\n// is a DIFFERENT table shape entirely (renderStreakWeek_: streak categories as\n// rows, not the monthly ShowUp<10/>10 + UsedTo/Never blocks) -- found via its\n// own unique row labels ('>=3 days consecutive' / '< 3 days and\n// non-consecutive'), which never appear in the monthly section. Percentage\n// repeats of the same block are skipped via the '%' guard (same technique the\n// monthly parser already uses). No daily grain (matches the appscript). ----\nfunction streakWeekBlocks(values) {\n  const out = [];\n  for (let i = 0; i < values.length; i++) {\n    const r = values[i] || [];\n    if (S(r[0]) !== '') continue;\n    const toks = r.slice(1).filter(v => S(v) !== '');\n    if (!toks.length || !toks.every(isWeek)) continue;\n    const scope = S(rawCell(values[i - 1] || [], 0));\n    if (!isScope(scope)) continue;\n    const hiRow = values[i + 1] || [], loRow = values[i + 2] || [];\n    if (S(hiRow[0]) !== '>=3 days consecutive' || S(loRow[0]) !== '< 3 days and non-consecutive') continue;\n    const cells = toks.map((_, idx) => rawCell(hiRow, 1 + idx)).concat(toks.map((_, idx) => rawCell(loRow, 1 + idx)));\n    if (cells.some(c => c.indexOf('%') !== -1)) continue;   // percentage repeat of this block -> skip\n    toks.forEach((w, idx) => { out.push({ scope: scope, week: w, hi: num(hiRow[1 + idx]), lo: num(loRow[1 + idx]) }); });\n  }\n  return out;\n}\nfunction parseConsecutive(values, dept) {\n  const A = ordered(); let scope = null, months = null, block = null;\n  for (const rr of values) { const r = rr || [];\n    if (hasNBSP(rawCell(r, 0))) { scope = null; continue; }\n    const f = S(r[0]);\n    if (isScope(f)) { scope = f; block = 'plain'; months = null; continue; }\n    if (f === USED) { block = 'usedto'; continue; }\n    if (f === NEVER) { block = 'never'; continue; }\n    if (f === '') { const ms = r.slice(1).filter(isMonth); if (ms.length) months = ms; continue; }\n    if ((f === 'Show up < 10 days' || f === 'Show up > 10 days') && scope && months && block) {\n      const cells = r.slice(1, 1 + months.length);\n      if (cells.some(c => String(c == null ? '' : c).indexOf('%') !== -1)) continue;\n      const key = block + (f === 'Show up < 10 days' ? '_lt10' : '_gt10');\n      for (let i = 0; i < months.length; i++) { const c = A.get(scope + '|' + months[i]);\n        c.scope = scope; c.month = months[i]; c[key] = num(r[1 + i]); } } }\n  const monthly = A.out(c => { const p = scopeParts(c.scope);\n    const plo = c.plain_lt10 || 0, pgt = c.plain_gt10 || 0, act = plo + pgt;\n    const ulo = c.usedto_lt10 || 0, ugt = c.usedto_gt10 || 0, nlo = c.never_lt10 || 0, ngt = c.never_gt10 || 0;\n    return [dept, p.nat, p.team, YEAR, 'Month', c.month, plo, pgt, act, ulo, ugt, nlo, ngt,\n      pctOf(ulo + ugt, act), pctOf(nlo + ngt, act)]; });\n  const W = ordered();\n  streakWeekBlocks(values).forEach(b => { const c = W.get(b.scope + '|' + b.week);\n    c.scope = b.scope; c.week = b.week; c.hi = b.hi; c.lo = b.lo; });\n  const weekly = W.out(c => { const p = scopeParts(c.scope); const hi = c.hi || 0, lo = c.lo || 0, act = hi + lo;\n    return [dept, p.nat, p.team, YEAR, 'Week', c.week, hi, lo, act, pctOf(hi, act), pctOf(lo, act)]; });\n  return { monthly, weekly };\n}\n\n// ---- Rotation: weekly detail blocks use the IDENTICAL 7-column shape as\n// monthly (ROT_DETAIL_COLS) -- previously the parser deliberately SKIPPED them\n// (\"weekly detail -> skip\"); now routed to their own output instead. Daily\n// drops OneDay/OneDay%OfNonRot entirely (those genuinely don't exist at daily\n// grain -- was the other source of blank cells alongside Show Up). ----\nfunction isRotHeader(r) { if (!r) return false; for (let i = 0; i < 7; i++) { if (S(r[1 + i]) !== ROT_COLS[i]) return false; } return true; }\nfunction parseRotation(values, dept) {\n  const monthly = [], weekly = [];\n  for (let i = 0; i < values.length; i++) { const r = values[i] || [];\n    if (!isRotHeader(r)) continue;\n    const period = S((values[i - 1] || [])[1]);\n    const grain = isMonth(period) ? 'Month' : (isWeek(period) ? 'Week' : null);\n    if (!grain) continue;\n    let j = i + 1;\n    for (; j < values.length; j++) { const tr = values[j] || []; const rawLabel = rawCell(tr, 0);\n      if (S(rawLabel) === '') break;\n      if (hasNBSP(rawLabel)) continue;\n      if (!isScope(rawLabel)) continue;\n      const p = scopeParts(rawLabel);\n      const nonRot = num(tr[1]), rot = num(tr[2]), one = num(tr[3]), t = nonRot + rot;\n      const row = [dept, p.nat, p.team, YEAR, grain, period, nonRot, rot, t, one, pctOf(one, nonRot), pctOf(nonRot, t), pctOf(rot, t)];\n      (grain === 'Month' ? monthly : weekly).push(row); }\n    i = j; }\n  const D = ordered();\n  dailyBlocks(values).forEach(b => { if (b.tag !== 'ROT' && b.tag !== 'NONROT') return;\n    b.rows.forEach(row => { Object.keys(row.counts).forEach(day => {\n      const c = D.get(row.scope + '|' + day); c.scope = row.scope; c.day = day;\n      c[b.tag === 'ROT' ? 'rot' : 'non'] = row.counts[day]; }); }); });\n  const daily = D.out(c => { const p = scopeParts(c.scope); const non = c.non || 0, rot = c.rot || 0, t = non + rot;\n    return [dept, p.nat, p.team, YEAR, 'Day', c.day, non, rot, t, pctOf(non, t), pctOf(rot, t)]; })\n    .filter(row => (row[6] || 0) + (row[7] || 0) > 0);\n  return { monthly, weekly, daily };\n}\n\nconst H = {\n  NewOldFaceMonth: ['Department','Nationality','Team','Year','Grain','Period','Old','New','Old%','New%'],\n  NewOldFaceWeek:  ['Department','Nationality','Team','Year','Grain','Period','Old','New','Old%','New%'],\n  NewOldFaceDay:   ['Department','Nationality','Team','Year','Grain','Period','Old','New','Old%','New%'],\n  ShowUpMonth: ['Department','Nationality','Team','Year','Grain','Period','1-5','6-10','11-15','16-20','21-30','Total','1-5%','6-10%','11-15%','16-20%','21-30%'],\n  ShowUpWeek:  ['Department','Nationality','Team','Year','Grain','Period','1-2','3-4','5-7','Total','1-2%','3-4%','5-7%'],\n  ShowUpDay:   ['Department','Nationality','Team','Year','Grain','Period','Total'],\n  ConsecutiveMonth: ['Department','Nationality','Team','Year','Grain','Period','ShowUp<10','ShowUp>10','Active','UsedTo3day<10','UsedTo3day>10','Never3day<10','Never3day>10','UsedTo3day%','Never3day%'],\n  ConsecutiveWeek:  ['Department','Nationality','Team','Year','Grain','Period','GreaterEq3Consecutive','Less3NonConsecutive','Active','GreaterEq3%','Less3%'],\n  RotationMonth: ['Department','Nationality','Team','Year','Grain','Period','NonRotation','Rotation','Total','OneDay','OneDay%OfNonRot','NonRotation%','Rotation%'],\n  RotationWeek:  ['Department','Nationality','Team','Year','Grain','Period','NonRotation','Rotation','Total','OneDay','OneDay%OfNonRot','NonRotation%','Rotation%'],\n  RotationDay:   ['Department','Nationality','Team','Year','Grain','Period','NonRotation','Rotation','Total','NonRotation%','Rotation%'],\n};\nconst FILE = {\n  NewOldFaceMonth: 'New-Old Face Month', NewOldFaceWeek: 'New-Old Face Week', NewOldFaceDay: 'New-Old Face Day',\n  ShowUpMonth: 'Show Up Month', ShowUpWeek: 'Show Up Week', ShowUpDay: 'Show Up Day',\n  ConsecutiveMonth: 'Consecutive Month', ConsecutiveWeek: 'Consecutive Week',\n  RotationMonth: 'Rotation Month', RotationWeek: 'Rotation Week', RotationDay: 'Rotation Day',\n};\nconst PARSE = { 0: parseNewOld, 1: parseShowUp, 2: parseConsecutive, 3: parseRotation };\nconst defs = [\n  { key: 'NewOldFaceMonth', idx: 0, field: 'monthly' },\n  { key: 'NewOldFaceWeek',  idx: 0, field: 'weekly' },\n  { key: 'NewOldFaceDay',   idx: 0, field: 'daily' },\n  { key: 'ShowUpMonth', idx: 1, field: 'monthly' },\n  { key: 'ShowUpWeek',  idx: 1, field: 'weekly' },\n  { key: 'ShowUpDay',   idx: 1, field: 'daily' },\n  { key: 'ConsecutiveMonth', idx: 2, field: 'monthly' },\n  { key: 'ConsecutiveWeek',  idx: 2, field: 'weekly' },\n  { key: 'RotationMonth', idx: 3, field: 'monthly' },\n  { key: 'RotationWeek',  idx: 3, field: 'weekly' },\n  { key: 'RotationDay',   idx: 3, field: 'daily' },\n];\n\nconst reads = $input.all();\nconst plans = $('Plan Reads').all();\nconst depts = plans.map((p, i) => p ? p.json.dept : ('SOC' + i));\nconst seen = [];\n// parse each SOC file's each of the 4 aspect tabs ONCE (not once per output --\n// 11 outputs share only 4 source parses), then every def pulls its grain field.\nconst parsed = reads.map((item, i) => {\n  const vr = (item.json && item.json.valueRanges) || [];\n  const dept = depts[i];\n  const byIdx = {};\n  [0, 1, 2, 3].forEach(idx => {\n    const values = (vr[idx] && vr[idx].values) || [];\n    if (idx === 0 && values[0]) seen.push(dept + ':' + S(values[0][0]));\n    byIdx[idx] = PARSE[idx](values, dept);\n  });\n  return byIdx;\n});\n\nlet grandTotal = 0;\nconst results = defs.map(d => {\n  let rows = [];\n  parsed.forEach(byIdx => { rows = rows.concat(byIdx[d.idx][d.field] || []); });\n  grandTotal += rows.length;\n  const fileName = FILE[d.key];\n  return { json: { aspect: d.key, fileName: fileName, folderId: OUT_FOLDER,\n    fileQuery: \"'\" + OUT_FOLDER + \"' in parents and trashed=false and name='\" + fileName + \"'\",\n    values: [H[d.key]].concat(rows) } };\n});\nif (grandTotal === 0) throw new Error('Reshape produced 0 data rows across all 11 outputs. Read ' +\n  reads.length + ' SOC file(s); first-cell samples: ' + JSON.stringify(seen) +\n  '. Check the aspect tab names/structure and that the read range covers all columns.');\nreturn results;\n"
      },
      "id": "reshape",
      "name": "Reshape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.fileQuery }}"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "includeItemsFromAllDrives",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "find-rag-file",
      "name": "Find Output File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_googleDriveOAuth2Api",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.files ? $json.files.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "if-exists",
      "name": "Output file exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { properties: { title: $('Reshape').item.json.fileName }, sheets: [ { properties: { title: 'data' } } ] } }}",
        "options": {},
        "contentType": "json"
      },
      "id": "create-rag-file",
      "name": "Create Output File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_googleSheetsOAuth2Api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.spreadsheetId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "addParents",
              "value": "={{ $('Reshape').item.json.folderId }}"
            },
            {
              "name": "removeParents",
              "value": "root"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            },
            {
              "name": "fields",
              "value": "id,parents"
            }
          ]
        },
        "options": {}
      },
      "id": "move-into-folder",
      "name": "Move Into Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_googleDriveOAuth2Api",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Both the existing-file and newly-created-file branches arrive here.\n// Process every item: the previous version used $input.item in run-once-for-all\n// mode, so all Sheets could be created before the write step failed.\n//\n// An individual output being empty (0 data rows) is no longer a hard stop --\n// with 11 grain-split outputs (was 4 big aggregated ones), a genuinely sparse\n// table (e.g. a new department with less than one full ISO week tracked yet) can\n// legitimately have 0 rows some days without the OTHER 10 successfully-parsed\n// tables being blocked from writing. Reshape's grandTotal===0 throw already\n// catches the real systemic-failure case (every output empty); this only skips\n// the individual sparse one, logged so it's visible, not silent.\nconst out = [];\n$input.all().forEach((item, index) => {\n  const j = item.json || {};\n  const meta = $('Reshape').itemMatching(index).json;\n  const id = j.spreadsheetId || j.id || (j.files && j.files[0] && j.files[0].id);\n  if (!id) throw new Error('Could not resolve the output file id for ' + (meta.fileName || '?'));\n  if (!Array.isArray(meta.values) || meta.values.length < 2) {\n    console.log('[skip empty] ' + (meta.fileName || '?') + ' has 0 data rows this run -- not writing.');\n    return;\n  }\n  out.push({ json: { spreadsheetId: id, fileName: meta.fileName, values: meta.values }, pairedItem: index });\n});\nreturn out;\n"
      },
      "id": "prepare-write",
      "name": "Prepare Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Prepare Write').item.json.spreadsheetId }}/values:batchClear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ranges: ['data'] } }}",
        "options": {},
        "contentType": "json"
      },
      "id": "clear-data",
      "name": "Clear Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_googleSheetsOAuth2Api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Prepare Write').item.json.spreadsheetId }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { valueInputOption: 'RAW', data: [ { range: 'data!A1', values: $('Prepare Write').item.json.values } ] } }}",
        "options": {},
        "contentType": "json"
      },
      "id": "write-data",
      "name": "Write Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_googleSheetsOAuth2Api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## SOC -> 11 flat tables for RAG (no AI)\nReads the monthly + weekly + daily numbers from the 3 `<YEAR>_SOCN/E/W` aspect tabs in the SOURCE folder and writes 11 plain Google Sheets into the OUTPUT folder -- one per (aspect x grain): **New-Old Face / Show Up / Consecutive / Rotation**, each split into **Month / Week / Day** files (Consecutive has no Day grain -- matches the appscript). Each file has ONLY the columns that are ever populated at that grain, so no cell is ever structurally blank (the prior single-table-per-aspect design mixed grains and left some cells blank, which broke strict-typed RAG ingestion). Percentages computed from the counts.\n\n**Wire on import:** Google Drive + Google Sheets OAuth2 (no OpenAI). Confirm the source + output folder ids in `Build Config`. Run Manually to test, or leave the daily trigger.",
        "height": 320,
        "width": 440,
        "color": 5
      },
      "id": "sticky-1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -120
      ]
    }
  ],
  "connections": {
    "Run Manually": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 12:00": {
      "main": [
        [
          {
            "node": "Build Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config": {
      "main": [
        [
          {
            "node": "Find SOC Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SOC Files": {
      "main": [
        [
          {
            "node": "Plan Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Reads": {
      "main": [
        [
          {
            "node": "Read Aspect Tabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Aspect Tabs": {
      "main": [
        [
          {
            "node": "Reshape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reshape": {
      "main": [
        [
          {
            "node": "Find Output File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Output File": {
      "main": [
        [
          {
            "node": "Output file exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output file exists?": {
      "main": [
        [
          {
            "node": "Prepare Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Output File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Output File": {
      "main": [
        [
          {
            "node": "Move Into Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Into Folder": {
      "main": [
        [
          {
            "node": "Prepare Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Write": {
      "main": [
        [
          {
            "node": "Clear Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Data": {
      "main": [
        [
          {
            "node": "Write Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateId": "soc-rag-tables-sync"
  }
}
