n8n/soc-daily-sync.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "year",
              "value": "={{ $now.toFormat('yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5e687535-4595-4e28-8da8-1a6dd8333cd2",
      "name": "Set Year",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "ef1e696e-975c-460e-9ecd-98a2937c6451",
      "name": "Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        -112
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Set Year').item.json.year }}",
        "options": {}
      },
      "id": "6fc54692-d347-4b19-bc28-cac200896b16",
      "name": "Create Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        -304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheetId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K",
          "mode": "id"
        }
      },
      "id": "64166c63-f123-4ee1-b4ad-9a9374d572bd",
      "name": "Move Into Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        -304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.year }}' and '1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "391dfd43-70e3-4e5d-863a-d23120628373",
      "name": "Search Sheet In Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        -112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://burmese-8ere.onrender.com/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 340000
        }
      },
      "id": "0fb40a0d-7dc1-418a-a9d8-75385f8cb4d2",
      "name": "Call SOC Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        -96
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fS2z07UNqaLdmob3",
          "name": "Header Auth account 17"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "1949e095-bb3e-4b14-8739-4588bd644742",
      "name": "Daily 11:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        -112
      ]
    }
  ],
  "connections": {
    "Set Year": {
      "main": [
        [
          {
            "node": "Search Sheet In Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists?": {
      "main": [
        [
          {
            "node": "Create Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call SOC Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet": {
      "main": [
        [
          {
            "node": "Move Into Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Into Folder": {
      "main": [
        [
          {
            "node": "Call SOC Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sheet In Folder": {
      "main": [
        [
          {
            "node": "Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 11:00": {
      "main": [
        [
          {
            "node": "Set Year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bfda752d0f10c69b897a741380d5efa9dafee1419424a3fe0740f77110c613a"
  }
}