n8n/soc-daily-sync.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "year",
              "value": "={{ $now.toFormat('yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5e687535-4595-4e28-8da8-1a6dd8333cd2",
      "name": "Set Year",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "ef1e696e-975c-460e-9ecd-98a2937c6451",
      "name": "Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -816,
        -768
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Set Year').item.json.year }}",
        "options": {}
      },
      "id": "6fc54692-d347-4b19-bc28-cac200896b16",
      "name": "Create Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -704,
        -976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheetId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K",
          "mode": "id"
        }
      },
      "id": "64166c63-f123-4ee1-b4ad-9a9374d572bd",
      "name": "Move Into Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        -976
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.year }}' and '1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "391dfd43-70e3-4e5d-863a-d23120628373",
      "name": "Search Sheet In Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        -768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "1949e095-bb3e-4b14-8739-4588bd644742",
      "name": "Daily 11:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        -768
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "name contains '_Daily name list_' and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -752
      ],
      "id": "47f687d0-1a6b-4406-b877-6e459bcee51d",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * n8n Code node: parse & validate raw vendor-file titles.\n * Mode: \"Run Once for All Items\". Language: JavaScript.\n *\n * INPUT  : items from a Google Drive \"Search\" node that lists every\n *          spreadsheet whose name contains \"_Daily name list_\".\n *          Each input item is expected to have json.id and json.name.\n *          (If your Drive node nests them, adjust `fileId`/`fileName` below.)\n * OUTPUT : one item per valid vendor file: {id, name, dept, vendor, year}.\n *\n * Mirrors render/app.py's discovery validation: a file that matched the\n * loose \"_Daily name list_\" search but does NOT match the strict\n * \"[DEPT YEAR]_Daily name list_VENDOR\" pattern, or whose department isn't\n * recognized, is a HARD ERROR (throw) -- silently skipping a malformed\n * match is exactly what caused the original undercount bug.\n */\n\n// Edit this list if departments are ever added/renamed (successor-editable):\nconst KNOWN_DEPARTMENTS = [\"SOCN\", \"SOCE\", \"SOCW\", \"FSOCW\"];\n\nconst RAW_TITLE_RE = /^\\[([A-Za-z]+)\\s+(\\d{4})\\]_Daily name list_(.+)$/;\n\nconst known = new Set(KNOWN_DEPARTMENTS.map((d) => d.toUpperCase()));\n\n// Accept either shape:\n//  - HTTP Request to the Drive API: one item whose json has a `files` array\n//  - Google Drive node: one item per file (json.id / json.name)\nconst files = [];\nfor (const item of items) {\n  const j = item.json || {};\n  if (Array.isArray(j.files)) {\n    for (const f of j.files) files.push(f);\n  } else {\n    files.push(j);\n  }\n}\n\nconst out = [];\nfor (const f of files) {\n  const fileId = f.id != null ? f.id : f.fileId;\n  const fileName = f.name != null ? f.name : (f.title != null ? f.title : f.fileName);\n\n  if (fileId == null || fileName == null) {\n    throw new Error(\n      \"input item has no id/name -- point this node at the Drive search HTTP \" +\n      \"Request (or Drive node). Got keys: \" + JSON.stringify(Object.keys(f))\n    );\n  }\n\n  const m = String(fileName).trim().match(RAW_TITLE_RE);\n  if (!m) {\n    throw new Error(\n      `'${fileName}' (id ${fileId}) matched the raw discovery search but doesn't match the ` +\n      `expected '[DEPT YEAR]_Daily name list_VENDOR' pattern -- rename it or narrow the search`\n    );\n  }\n  const dept = m[1].toUpperCase();\n  const year = m[2];\n  const vendor = m[3].trim();\n  if (!known.has(dept)) {\n    throw new Error(\n      `unrecognized department '${dept}' parsed from '${fileName}' -- ` +\n      `expected one of ${JSON.stringify([...known].sort())}`\n    );\n  }\n\n  out.push({ json: { id: fileId, name: fileName, dept: dept, vendor: vendor, year: year } });\n}\n\nif (out.length === 0) {\n  throw new Error(\n    \"no raw vendor spreadsheets found -- check that the Drive search query is \" +\n    \"`name contains \\\"_Daily name list_\\\"` and that the files are shared with the \" +\n    \"Google account this workflow authenticates as\"\n  );\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -752
      ],
      "id": "852cc64d-0d5d-4e53-aff1-949eb2778a09",
      "name": "Parse Titles"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "sheets.properties.title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        -752
      ],
      "id": "e1f81a5f-9ea6-407f-858f-ab7184a96447",
      "name": "Get Tabs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.batchGetUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        -752
      ],
      "id": "dd94a556-58a4-4a3a-84e4-070d9da787d0",
      "name": "Batch Read",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * n8n Code node \"Build Ranges\".\n * Mode: \"Run Once for Each Item\". Language: JavaScript.\n *\n * Sits between:\n *   [Get Tabs]  (HTTP GET spreadsheets/{id}?fields=sheets.properties.title)\n *   -> THIS node\n *   -> [Batch Read] (HTTP GET {{ $json.batchGetUrl }})\n *\n * For the current file it: reads the tab titles from the Get Tabs response,\n * keeps only the month tabs (\"Jun 26\" / \"July 26\"), and builds the\n * values:batchGet URL that reads every one of them in a single API call.\n * The file's id/dept/vendor/year are carried through from the \"Parse Titles\"\n * node (paired item), since the HTTP response replaced this item's json.\n *\n * IMPORTANT: this references $('Parse Titles') by node name -- your parse\n * Code node MUST be named exactly \"Parse Titles\" (rename it if needed).\n */\n\nconst MONTH_NAMES = new Set();\n[\"january\", \"february\", \"march\", \"april\", \"may\", \"june\", \"july\",\n \"august\", \"september\", \"october\", \"november\", \"december\"].forEach((full) => {\n  MONTH_NAMES.add(full);\n  MONTH_NAMES.add(full.slice(0, 3));\n});\n\n// \"Jun 26\" / \"July 26\" -> true (matches app.py _is_month_tab: \"%b %y\" | \"%B %y\")\nfunction isMonthTab(title) {\n  const t = String(title).trim().split(/\\s+/);\n  if (t.length !== 2) return false;\n  if (!MONTH_NAMES.has(t[0].toLowerCase())) return false;\n  return /^\\d{2}$/.test(t[1]);\n}\n\n// single-quote a sheet title for an A1 range ('' escapes a literal quote)\nfunction quoted(title) {\n  return \"'\" + String(title).replace(/'/g, \"''\") + \"'\";\n}\n\nconst ctx = $('Parse Titles').item.json;      // {id, name, dept, vendor, year}\nconst resp = $json;                            // Get Tabs response\n\nconst sheets = (resp.sheets || []).map((s) => (s.properties && s.properties.title) || \"\");\nconst monthTabs = sheets.filter(isMonthTab);\n\nif (monthTabs.length === 0) {\n  throw new Error(\n    `'${ctx.name}' (dept=${ctx.dept}, vendor=${ctx.vendor}) has no month tabs ` +\n    `(looked for \"Jun 26\" / \"July 26\" style titles among: ${JSON.stringify(sheets)}) ` +\n    `-- schema drift or an empty file`\n  );\n}\n\nconst base = `https://sheets.googleapis.com/v4/spreadsheets/${ctx.id}/values:batchGet`;\nconst rangesQs = monthTabs.map((t) => \"ranges=\" + encodeURIComponent(quoted(t))).join(\"&\");\nconst batchGetUrl = `${base}?${rangesQs}&majorDimension=ROWS`;\n\nreturn {\n  json: {\n    id: ctx.id, name: ctx.name, dept: ctx.dept, vendor: ctx.vendor, year: ctx.year,\n    monthTabs: monthTabs,\n    batchGetUrl: batchGetUrl,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -752
      ],
      "id": "7027a3bb-a133-4346-a9bb-21f2c9f77aff",
      "name": "Build Ranges"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * SOC worker-analysis engine -- dependency-free JavaScript port of\n * render/test.py's engine + report shaping, for running the whole pipeline\n * inside n8n (which can't run pandas). This file is the single source of the\n * metric/cleaning logic on the n8n side; keep it in lockstep with test.py's\n * LOCKED DEFINITIONS -- do not fork them.\n *\n * HOW TO VERIFY (do this before trusting it in a workflow):\n *   - In an n8n Code node (\"Run Once for All Items\", language JavaScript),\n *     paste this whole file, then add a final line:  return runSelfTests();\n *     Execute the node. It returns [{passed:true, log:[...]}] on success, or\n *     throws with the first failing assertion.\n *   - Or with Node.js locally:  node n8n/engine.js\n *\n * The self-tests mirror test.py's _run_tests exactly (same fixtures, same\n * expected numbers), so a pass here means the port matches the Python engine.\n */\n\n// ------------------------------------------------------------------ constants\nconst OPERATIONAL_TEAMS = [\"CBS\", \"IB\", \"mCBS\", \"MS\", \"OBI\", \"OBS\", \"OBC\", \"OBD\"];\nconst BUCKETS = [[1, 5], [6, 10], [11, 15], [16, 20], [21, 30]];\nconst MONTHS = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n// group-key separator: a control char that never appears in real data, so\n// composite keys are unique even when a worker name contains spaces. Keys\n// built with SEP are NEVER split back apart -- fields are read from the\n// grouped rows instead (splitting on \" \" broke names like \"CYD 11 A B\").\nconst SEP = \"\\u0001\";\n\nconst REQUIRED_RAW_COLUMNS = [\"วันที่\", \"ค้นหา\", \"วันที่.1\", \"team\", \"เข้างาน\", \"shift name\", \"Shift_id\"];\nconst SHEETS_ERROR_SENTINELS = new Set([\"#REF!\", \"#N/A\", \"#VALUE!\", \"#DIV/0!\", \"#NAME?\", \"#NULL!\", \"#NUM!\", \"#ERROR!\"]);\n// confirmed business facts (see test.py _KNOWN_SHIFT_TEAM). Add a stripped\n// shift-name -> team entry here only when the team name genuinely differs\n// from the shift name; otherwise the shift-name-as-team fallback covers it.\nconst KNOWN_SHIFT_TEAM = { \"FSOCE\": \"FSOCE\" };\n\nconst MONTH_NUM = {};\n[\"january\", \"february\", \"march\", \"april\", \"may\", \"june\", \"july\",\n \"august\", \"september\", \"october\", \"november\", \"december\"].forEach((full, i) => {\n  MONTH_NUM[full] = i + 1;\n  MONTH_NUM[full.slice(0, 3)] = i + 1;\n});\n\n// ------------------------------------------------------------------ dates\nfunction pad2(n) { return String(n).padStart(2, \"0\"); }\n\nfunction makeDate(y, m, d) {\n  // canonical calendar date + everything downstream needs derived once.\n  const dayNum = Math.floor(Date.UTC(y, m - 1, d) / 86400000);\n  return {\n    y: y, m: m, d: d,\n    key: `${y}-${pad2(m)}-${pad2(d)}`,\n    month: `${y}-${pad2(m)}`,          // YYYY-MM (engine grouping)\n    dayNum: dayNum,                    // integer day, for consecutive-run math\n    iso: isoWeekYear(y, m, d),\n  };\n}\n\nfunction isoWeekYear(y, m, d) {\n  // standard ISO-8601 week/year (matches pandas dt.isocalendar()).\n  const dt = new Date(Date.UTC(y, m - 1, d));\n  const dayNum = (dt.getUTCDay() + 6) % 7;        // Mon=0..Sun=6\n  dt.setUTCDate(dt.getUTCDate() - dayNum + 3);     // Thursday of this ISO week\n  const isoYear = dt.getUTCFullYear();\n  const firstThursday = new Date(Date.UTC(isoYear, 0, 4));\n  const ftDayNum = (firstThursday.getUTCDay() + 6) % 7;\n  firstThursday.setUTCDate(firstThursday.getUTCDate() - ftDayNum + 3);\n  const week = 1 + Math.round((dt - firstThursday) / (7 * 86400000));\n  return { year: isoYear, week: week };\n}\n\nfunction validYMD(y, m, d) {\n  if (!Number.isInteger(y) || !Number.isInteger(m) || !Number.isInteger(d)) return false;\n  if (m < 1 || m > 12 || d < 1 || d > 31) return false;\n  return true;\n}\n\nfunction normYear(y) { return y < 100 ? 2000 + y : y; }\n\nfunction parseDayFirst(s) {\n  // \"9 Jul 26\", \"01 Jun 26\", \"1-Jan-26\", \"9/7/26\", or ISO \"2026-05-09\".\n  // Returns makeDate or null (null = unparseable, caller decides to throw).\n  const t = String(s).trim().split(/[\\s\\-\\/.]+/).filter(Boolean);\n  if (t.length !== 3) return null;\n  let y, m, d;\n  if (/^\\d{4}$/.test(t[0])) {                       // year-first (ISO-ish)\n    y = parseInt(t[0], 10); m = monthToken(t[1]); d = parseInt(t[2], 10);\n  } else {                                          // day-first\n    d = parseInt(t[0], 10); m = monthToken(t[1]); y = normYear(parseInt(t[2], 10));\n  }\n  if (m == null || !validYMD(y, m, d)) return null;\n  return makeDate(y, m, d);\n}\n\nfunction parseISO(s) {\n  const mm = String(s).trim().match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})$/);\n  if (!mm) return null;\n  const y = parseInt(mm[1], 10), m = parseInt(mm[2], 10), d = parseInt(mm[3], 10);\n  if (!validYMD(y, m, d)) return null;\n  return makeDate(y, m, d);\n}\n\nfunction monthToken(tok) {\n  if (/^\\d{1,2}$/.test(tok)) { const n = parseInt(tok, 10); return (n >= 1 && n <= 12) ? n : null; }\n  const n = MONTH_NUM[tok.toLowerCase()];\n  return n == null ? null : n;\n}\n\nfunction monthLabel(monthISO) {           // \"2026-06\" -> \"Jun\"\n  const m = parseInt(monthISO.slice(5, 7), 10);\n  return MONTHS[m - 1];\n}\n\nfunction parseClockMinutes(s) {            // \"09:00\" -> 540; garbled -> null (sorts last)\n  const mm = String(s).trim().match(/^(\\d{1,2}):(\\d{2})/);\n  if (!mm) return null;\n  return parseInt(mm[1], 10) * 60 + parseInt(mm[2], 10);\n}\n\n// ------------------------------------------------------------------ raw input\nfunction mangleDupeCols(header) {\n  const seen = {};\n  return header.map((h) => {\n    const n = seen[h] || 0;\n    seen[h] = n + 1;\n    return n === 0 ? h : `${h}.${n}`;\n  });\n}\n\nfunction repairDateHeaderPositions(header) {\n  if (!header.includes(\"ค้นหา\") || !header.includes(\"shift name\")) return header;\n  const out = header.slice();\n  const nameIdx = out.indexOf(\"ค้นหา\");\n  const shiftIdx = out.indexOf(\"shift name\");\n  if (nameIdx - 1 >= 0) out[nameIdx - 1] = \"วันที่\";\n  if (shiftIdx + 1 < out.length) out[shiftIdx + 1] = \"วันที่\";\n  return out;\n}\n\nfunction isSuperset(candidate) {\n  const s = new Set(candidate);\n  return REQUIRED_RAW_COLUMNS.every((c) => s.has(c));\n}\n\nfunction mangledHeaderCandidates(row) {\n  return [mangleDupeCols(row), mangleDupeCols(repairDateHeaderPositions(row))];\n}\n\nfunction findHeaderRow(rows, maxScan) {\n  maxScan = maxScan || 5;\n  for (let i = 0; i < Math.min(maxScan, rows.length); i++) {\n    for (const cand of mangledHeaderCandidates(rows[i])) {\n      if (isSuperset(cand)) return i;\n    }\n  }\n  throw new Error(\n    `couldn't find a header row containing ${JSON.stringify(REQUIRED_RAW_COLUMNS.slice().sort())} ` +\n    `in the first ${maxScan} rows -- schema drift, or a banner deeper than expected`\n  );\n}\n\nfunction resolveHeader(row) {\n  for (const cand of mangledHeaderCandidates(row)) {\n    if (isSuperset(cand)) return cand;\n  }\n  throw new Error(\"header row no longer matches on rebuild -- internal inconsistency\");\n}\n\nfunction rowsToRawObjects(grid) {\n  // grid: array of string-arrays (ragged allowed). -> array of row objects\n  // keyed by the mangled header; \"\" cells become null (pandas .replace(\"\", NA)).\n  if (!grid || grid.length === 0) throw new Error(\"empty sheet -- no header row\");\n  const width = Math.max.apply(null, grid.map((r) => r.length));\n  const padded = grid.map((r) => r.concat(Array(width - r.length).fill(\"\")));\n  const headerIdx = findHeaderRow(padded);\n  const header = resolveHeader(padded[headerIdx]);\n  return padded.slice(headerIdx + 1).map((r) => {\n    const obj = {};\n    for (let c = 0; c < header.length; c++) {\n      const v = r[c];\n      obj[header[c]] = (v === \"\" || v == null) ? null : v;\n    }\n    return obj;\n  });\n}\n\nfunction clearSentinel(v) {\n  if (v == null) return null;\n  return SHEETS_ERROR_SENTINELS.has(v) ? null : v;\n}\n\n// resolve one date cell like pandas to_datetime(..., errors=\"raise\") after the\n// sentinel/blank normalization: blank or sentinel -> null (NA, fine); a real\n// non-empty value that can't be parsed -> throw.\nfunction dateCell(rawVal, parser) {\n  const v = clearSentinel(rawVal);\n  if (v == null || v === \"\") return null;\n  const p = parser(v);\n  if (p == null) throw new Error(`Unknown datetime string format, unable to parse: ${v}`);\n  return p;\n}\n\n// ------------------------------------------------------------------ cleaning\nfunction cleanRaw(rawObjs) {\n  const cols = rawObjs.length ? new Set(Object.keys(rawObjs[0])) : new Set();\n  const missing = REQUIRED_RAW_COLUMNS.filter((c) => !cols.has(c));\n  if (rawObjs.length && missing.length) {\n    throw new Error(`missing required raw columns: ${JSON.stringify(missing.sort())}`);\n  }\n\n  // keep rows with a real name; drop an accidentally-duplicated header row\n  let rows = rawObjs.filter((r) => r[\"ค้นหา\"] != null && r[\"ค้นหา\"] !== \"ค้นหา\");\n\n  // per-row: normalize sentinels, parse both date columns, cross-fill\n  rows = rows.map((r) => {\n    const team0 = clearSentinel(r[\"team\"]);\n    const d1 = dateCell(r[\"วันที่\"], parseDayFirst);\n    const d2 = dateCell(r[\"วันที่.1\"], parseISO);\n    return { r: r, team: team0, d1: d1 || d2, d2: d2 || d1 };\n  });\n\n  // unrecoverable date (both null): drop only if EVERY other field is blank\n  // (roster placeholder); otherwise it's a real gap -> throw.\n  const stillBad = [];\n  rows = rows.filter((x) => {\n    if (x.d1 || x.d2) return true;\n    const r = x.r;\n    const placeholder = x.team == null && r[\"shift name\"] == null &&\n      r[\"เข้างาน\"] == null && r[\"Shift_id\"] == null;\n    if (placeholder) return false;\n    stillBad.push(x.r[\"ค้นหา\"]);\n    return true;\n  });\n  if (stillBad.length) {\n    throw new Error(\n      `${stillBad.length} row(s) have no usable date in either วันที่ or วันที่.1 ` +\n      `but other fields are populated -- stop, ask. First workers: ${JSON.stringify(stillBad.slice(0, 5))}`\n    );\n  }\n\n  // both dates present but disagree -> genuine ambiguity, throw\n  const mism = rows.filter((x) => x.d1.key !== x.d2.key);\n  if (mism.length) {\n    const ex = mism.slice(0, 5).map((x) =>\n      `${x.r[\"ค้นหา\"]}: วันที่=${JSON.stringify(x.r[\"วันที่\"])} (${x.d1.key}) vs ` +\n      `วันที่.1=${JSON.stringify(x.r[\"วันที่.1\"])} (${x.d2.key})`).join(\"; \");\n    throw new Error(\n      `วันที่ and วันที่.1 disagree on date for ${mism.length} row(s) -- stop, ask ` +\n      `which is the show-up date. First examples: ${ex}`\n    );\n  }\n\n  // shift name (stripped) and team backfill\n  rows.forEach((x) => { x.shift = x.r[\"shift name\"] == null ? null : String(x.r[\"shift name\"]).trim(); });\n\n  const needsTeam = rows.filter((x) => x.team == null);\n  if (needsTeam.length) {\n    const needed = new Set(needsTeam.map((x) => x.shift));\n    // learn shift -> team from rows that already have both, limited to needed shifts\n    const learned = {};                 // shift -> Set(team)\n    rows.filter((x) => x.team != null).forEach((x) => {\n      if (!needed.has(x.shift)) return;\n      (learned[x.shift] = learned[x.shift] || new Set()).add(x.team);\n    });\n    const ambiguous = Object.keys(learned).filter((s) => learned[s].size > 1).sort();\n    if (ambiguous.length) {\n      throw new Error(`shift name(s) map to more than one team, can't backfill safely: ${JSON.stringify(ambiguous)} -- stop, ask`);\n    }\n    const shiftToTeam = {};\n    Object.keys(learned).forEach((s) => { shiftToTeam[s] = Array.from(learned[s])[0]; });\n\n    needsTeam.forEach((x) => {\n      if (x.shift != null && shiftToTeam[x.shift] != null) x.team = shiftToTeam[x.shift];   // data-driven\n      if (x.team == null && x.shift != null && KNOWN_SHIFT_TEAM[x.shift] != null) x.team = KNOWN_SHIFT_TEAM[x.shift];  // confirmed facts\n      if (x.team == null && x.shift != null && x.shift !== \"\") x.team = x.shift;             // shift name as team\n    });\n\n    // a row with NEITHER team nor shift name: nothing to attribute -> drop\n    rows = rows.filter((x) => x.team != null);\n  }\n\n  // build clean rows; dedup (name,date) keeping earliest clock-in (garbled -> last)\n  const built = rows.map((x, i) => ({\n    name: x.r[\"ค้นหา\"],\n    date: x.d2,\n    team: x.team,\n    clockin: x.r[\"เข้างาน\"] == null ? null : x.r[\"เข้างาน\"],\n    shift_name: x.shift,\n    shift_id: x.r[\"Shift_id\"] == null ? null : x.r[\"Shift_id\"],\n    _clock: parseClockMinutes(x.r[\"เข้างาน\"] == null ? \"\" : x.r[\"เข้างาน\"]),\n    _i: i,\n  }));\n  // stable sort by clock (null last), then keep first per (name,date)\n  built.sort((a, b) => {\n    const ca = a._clock == null ? Infinity : a._clock;\n    const cb = b._clock == null ? Infinity : b._clock;\n    return ca !== cb ? ca - cb : a._i - b._i;\n  });\n  const seen = new Set();\n  const out = [];\n  for (const b of built) {\n    const k = b.name + SEP + b.date.key;\n    if (seen.has(k)) continue;\n    seen.add(k);\n    out.push({\n      name: b.name, date: b.date, team: b.team, clockin: b.clockin,\n      shift_name: b.shift_name, shift_id: b.shift_id, month: monthLabel(b.date.month),\n    });\n  }\n  return out;\n}\n\n// public: raw grid (array of string-arrays) -> clean rows\nfunction loadRawFromValues(grid) {\n  return cleanRaw(rowsToRawObjects(grid));\n}\n\n// ------------------------------------------------------------------ core engine\nfunction prepare(rows) {\n  // rows: [{name, date:makeDate, team, ...}]. Validates uniqueness of (name,date).\n  const seen = new Set();\n  for (const r of rows) {\n    if (r.name == null || r.date == null || r.team == null) {\n      throw new Error(\"missing required columns: name/date/team\");\n    }\n    const k = r.name + SEP + r.date.key;\n    if (seen.has(k)) throw new Error(\"duplicate (name,date) rows -- clean set must be one row per worker per day\");\n    seen.add(k);\n  }\n  return rows;\n}\n\nfunction maxConsecutiveRun(dayNums) {\n  const ds = Array.from(new Set(dayNums)).sort((a, b) => a - b);\n  if (!ds.length) return 0;\n  let best = 1, cur = 1;\n  for (let i = 1; i < ds.length; i++) {\n    cur = ds[i] - ds[i - 1] === 1 ? cur + 1 : 1;\n    if (cur > best) best = cur;\n  }\n  return best;\n}\n\nfunction sortedUnique(arr) { return Array.from(new Set(arr)).sort(); }\n\nfunction round2(x) { return Math.round((x + Number.EPSILON) * 100) / 100; }\n\n// group rows by keyFn; returns Map(key -> rows[]). Keys are never split back\n// apart -- callers read fields from the grouped rows, so a name with spaces or\n// any separator can't corrupt the grouping.\nfunction groupBy(rows, keyFn) {\n  const m = new Map();\n  for (const r of rows) {\n    const k = keyFn(r);\n    if (!m.has(k)) m.set(k, []);\n    m.get(k).push(r);\n  }\n  return m;\n}\n\n// distinct show-up days per (month, worker)\nfunction daysPerMonthWorker(d, team) {\n  const x = team == null ? d : d.filter((r) => r.team === team);\n  const g = groupBy(x, (r) => r.date.month + SEP + r.name);\n  const out = [];\n  for (const rs of g.values()) {\n    out.push({\n      month: rs[0].date.month,\n      name: rs[0].name,\n      days: new Set(rs.map((r) => r.date.key)).size,\n    });\n  }\n  return out;\n}\n\nfunction showupBlock(rows, team) {\n  const d = prepare(rows);\n  const days = daysPerMonthWorker(d, team);\n  const months = sortedUnique(d.map((r) => r.date.month));\n  const bucketLabels = BUCKETS.map(([lo, hi]) => `${lo}-${hi}`);\n  const counts = {};  // bucketLabel -> {monthISO -> n}\n  bucketLabels.forEach((b) => { counts[b] = {}; });\n  const summ = {};\n  for (const m of months) {\n    const g = days.filter((x) => x.month === m);\n    BUCKETS.forEach(([lo, hi], bi) => {\n      counts[bucketLabels[bi]][m] = g.filter((x) => x.days >= lo && x.days <= hi).length;\n    });\n    summ[m] = bucketLabels.reduce((s, b) => s + counts[b][m], 0);\n  }\n  // shape as {counts, pct} keyed by bucketLabel (+ \"Sum Month\") -> {monthLabel -> value}\n  const relabel = (obj) => {\n    const o = {};\n    for (const b of Object.keys(obj)) {\n      o[b] = {};\n      for (const m of months) o[b][monthLabel(m)] = obj[b][m];\n    }\n    return o;\n  };\n  const countsOut = relabel(counts);\n  const pct = {};\n  bucketLabels.forEach((b) => {\n    pct[b] = {};\n    for (const m of months) pct[b][monthLabel(m)] = summ[m] ? round2(counts[b][m] / summ[m] * 100) : 0.0;\n  });\n  countsOut[\"Sum Month\"] = {};\n  pct[\"Sum Month\"] = {};\n  for (const m of months) {\n    countsOut[\"Sum Month\"][monthLabel(m)] = summ[m];\n    pct[\"Sum Month\"][monthLabel(m)] = 100.0;\n  }\n  return { counts: countsOut, pct: pct, monthLabels: months.map(monthLabel) };\n}\n\nfunction rotationWorkerTable(rows) {\n  const d = prepare(rows);\n  const g = groupBy(d, (r) => r.date.month + SEP + r.name);\n  const table = [];\n  for (const rs of g.values()) {\n    const teamCount = {};\n    rs.forEach((r) => { teamCount[r.team] = (teamCount[r.team] || 0) + 1; });\n    const rotationCount = Object.values(teamCount).filter((c) => c > 0).length;\n    const analyze = {};\n    for (const t of OPERATIONAL_TEAMS) {\n      const c = teamCount[t] || 0;\n      analyze[t] = (c > 1 && rotationCount > 1) ? \"Rotated\" : \"\";\n    }\n    table.push({ month: rs[0].date.month, name: rs[0].name, teamCount: teamCount, analyze: analyze });\n  }\n  return table;\n}\n\nfunction rotationSummary(rows) {\n  const wt = rotationWorkerTable(rows);\n  const byMonth = groupBy(wt, (r) => r.month);\n  const out = [];\n  for (const month of Array.from(byMonth.keys()).sort()) {\n    const g = byMonth.get(month);\n    for (const t of OPERATIONAL_TEAMS) {\n      const inTeam = g.filter((r) => (r.teamCount[t] || 0) >= 1);\n      const pop = inTeam.length;\n      if (pop === 0) continue;\n      const rotated = inTeam.filter((r) => r.analyze[t] === \"Rotated\").length;\n      const nonrot = pop - rotated;\n      const oneday = inTeam.filter((r) => r.analyze[t] !== \"Rotated\" && (r.teamCount[t] || 0) === 1).length;\n      out.push({\n        month: month, team: t, population: pop, rotation: rotated, non_rotation: nonrot,\n        oneday_nonrot: oneday,\n        \"rotation%\": round2(rotated / pop * 100),\n        \"non_rotation%\": round2(nonrot / pop * 100),\n        \"oneday%\": nonrot ? round2(oneday / nonrot * 100) : null,\n      });\n    }\n  }\n  return out;\n}\n\nfunction workerMonthStats(d, team) {\n  const x = team == null ? d : d.filter((r) => r.team === team);\n  const g = groupBy(x, (r) => r.date.month + SEP + r.name);\n  const out = [];\n  for (const rs of g.values()) {\n    out.push({\n      month: rs[0].date.month,\n      name: rs[0].name,\n      days: new Set(rs.map((r) => r.date.key)).size,\n      run: maxConsecutiveRun(rs.map((r) => r.date.dayNum)),\n    });\n  }\n  return out;\n}\n\nfunction streakMonthCrosstab(rows, team) {\n  const d = prepare(rows);\n  const st = workerMonthStats(d, team);\n  const months = sortedUnique(d.map((r) => r.date.month));\n  const out = [];\n  for (const m of months) {\n    const g = st.filter((x) => x.month === m);\n    const lt = (x) => x.days < 10, gt = (x) => x.days > 10, used = (x) => x.run >= 3;\n    out.push({\n      month: monthLabel(m), active: g.length,\n      \"<10\": g.filter(lt).length, \">10\": g.filter(gt).length,\n      \"usedto_<10\": g.filter((x) => used(x) && lt(x)).length,\n      \"usedto_>10\": g.filter((x) => used(x) && gt(x)).length,\n      \"never_<10\": g.filter((x) => !used(x) && lt(x)).length,\n      \"never_>10\": g.filter((x) => !used(x) && gt(x)).length,\n    });\n  }\n  return out;\n}\n\nfunction streakWeek(rows, team, minRun) {\n  minRun = minRun || 3;\n  const d = prepare(rows);\n  const x = team == null ? d : d.filter((r) => r.team === team);\n  const g = groupBy(x, (r) => r.date.iso.year + SEP + r.date.iso.week);\n  const out = [];\n  for (const rs of g.values()) {\n    const week = rs[0].date.iso.week;\n    const byWorker = groupBy(rs, (r) => r.name);\n    const runs = Array.from(byWorker.values()).map((wr) => maxConsecutiveRun(wr.map((r) => r.date.dayNum)));\n    const active = runs.length;\n    const q = runs.filter((r) => r >= minRun).length;\n    out.push({ week: `W${week}`, active: active, \">=3\": q, \"<3\": active - q, \">=3%\": active ? round2(q / active * 100) : 0.0 });\n  }\n  return out.sort((a, b) => parseInt(a.week.slice(1), 10) - parseInt(b.week.slice(1), 10));\n}\n\n// ------------------------------------------------------------------ self-tests\nfunction assert(cond, msg) { if (!cond) throw new Error(\"ASSERT FAILED: \" + msg); }\n\nfunction makeCleanRows(triples) {\n  // triples: [name, team, [y,m,d]] -> engine-ready rows\n  return triples.map(([name, team, ymd]) => ({ name: name, team: team, date: makeDate(ymd[0], ymd[1], ymd[2]) }));\n}\n\nfunction synthetic() {\n  const r = [];\n  const add = (n, t, days) => days.forEach(([m, d]) => r.push([n, t, [2026, m, d]]));\n  add(\"alice\", \"IB\", [[3, 2], [3, 3], [3, 4], [3, 5], [3, 6]]);\n  add(\"bob\", \"IB\", [[3, 2]]); add(\"bob\", \"MS\", [[3, 3]]);\n  add(\"carol\", \"IB\", [[3, 9], [3, 10], [3, 11], [3, 16]]);\n  add(\"dave\", \"IB\", [[3, 2], [3, 3]]); add(\"dave\", \"MS\", [[3, 4], [3, 5], [3, 6]]);\n  add(\"erin\", \"IB\", [[3, 2]]);\n  add(\"frank\", \"IB\", [[3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 9], [3, 10]]);\n  add(\"grace\", \"IB\", [[3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 9], [3, 10], [3, 11], [3, 12], [3, 13], [3, 16], [3, 17]]);\n  add(\"henry\", \"IB\", [[3, 30], [3, 31], [4, 1]]);\n  return makeCleanRows(r);\n}\n\nfunction expectThrow(fn, needle, label) {\n  let threw = false;\n  try { fn(); } catch (e) { threw = true; assert(String(e.message).includes(needle), `${label}: wrong error: ${e.message}`); }\n  assert(threw, `${label}: expected a throw`);\n}\n\nconst H = [\"วันที่\", \"ค้นหา\", \"เข้างาน\", \"shift name\", \"วันที่\", \"BTS\", \"Shift_id\", \"team\"];\n\nfunction runSelfTests() {\n  const log = [];\n  const ok = (name) => log.push(name + \" passed\");\n\n  // ref-date fallback: broken วันที่.1 recovered from วันที่\n  let out = loadRawFromValues([H, [\"9 Jul 26\", \"zoe\", \"09:00\", \"Inbound\", \"#REF!\", \"SITE\", \"SH-9\", \"IB\"]]);\n  assert(out.length === 1 && out[0].date.key === \"2026-07-09\", \"ref-date fallback\");\n  ok(\"test_ref_date_fallback\");\n\n  // sentinel general: broken วันที่ recovered from วันที่.1; both broken -> throw\n  out = loadRawFromValues([H, [\"#VALUE!\", \"amy\", \"09:00\", \"Inbound\", \"2026-07-10\", \"SITE\", \"SH-1\", \"IB\"]]);\n  assert(out[0].date.key === \"2026-07-10\", \"sentinel symmetric\");\n  expectThrow(() => loadRawFromValues([H, [\"#REF!\", \"ben\", \"09:00\", \"Inbound\", \"#N/A\", \"SITE\", \"SH-2\", \"IB\"]]),\n    \"no usable date\", \"sentinel both-broken\");\n  ok(\"test_sheets_error_sentinels_general\");\n\n  // blank placeholder dropped; date-only-missing throws\n  out = loadRawFromValues([H,\n    [\"\", \"CYD 11502 THAE THAE\", \"\", \"\", \"\", \"SITE\", \"\", \"\"],\n    [\"9 Jul 26\", \"zoe\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-9\", \"IB\"]]);\n  assert(out.length === 1 && out[0].name === \"zoe\", \"placeholder dropped\");\n  expectThrow(() => loadRawFromValues([H, [\"\", \"carol\", \"09:00\", \"Inbound\", \"\", \"SITE\", \"SH-3\", \"IB\"]]),\n    \"other fields are populated\", \"date-only-missing\");\n  ok(\"test_blank_placeholder_row_dropped\");\n\n  // garbled clock-in tolerated; loses same-day tie to a real time\n  out = loadRawFromValues([H, [\"9 Jul 26\", \"amy\", \"$0.88\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"IB\"]]);\n  assert(out.length === 1 && out[0].clockin === \"$0.88\", \"garbled clockin preserved\");\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"ben\", \"$0.88\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-2\", \"IB\"],\n    [\"9 Jul 26\", \"ben\", \"08:00\", \"Outbound\", \"2026-07-09\", \"SITE\", \"SH-3\", \"OBD\"]]);\n  assert(out.length === 1 && out[0].team === \"OBD\", \"real clock-in wins tie\");\n  ok(\"test_garbled_clockin_tolerated\");\n\n  // names with spaces must survive grouping (regression guard for the SEP fix)\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"CYD 11 A B\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"IB\"],\n    [\"10 Jul 26\", \"CYD 11 A B\", \"09:00\", \"Inbound\", \"2026-07-10\", \"SITE\", \"SH-1\", \"IB\"]]);\n  const sb0 = showupBlock(out);\n  assert(sb0.counts[\"1-5\"][\"Jul\"] === 1, \"name-with-spaces grouped as one worker\");\n  ok(\"test_name_with_spaces\");\n\n  // corrupted date header (\"49\") repaired by position; bad data still throws\n  const Hbad = [\"49\", \"ค้นหา\", \"เข้างาน\", \"shift name\", \"วันที่\", \"BTS\", \"Shift_id\", \"team\", \"กะ\", \"เวลาเข้า-ออกงาน\"];\n  out = loadRawFromValues([Hbad, [\"9 May 26\", \"amy\", \"09:00\", \"Inbound\", \"2026-05-09\", \"SITE\", \"SH-1\", \"IB\", \"K1\", \"09:00-17:00\"]]);\n  assert(out.length === 1 && out[0].date.key === \"2026-05-09\", \"corrupted header repaired\");\n  expectThrow(() => loadRawFromValues([Hbad, [\"not a date\", \"ben\", \"09:00\", \"Inbound\", \"2026-05-10\", \"SITE\", \"SH-2\", \"IB\", \"K1\", \"09:00-17:00\"]]),\n    \"unable to parse\", \"corrupted header bad data\");\n  ok(\"test_corrupted_date_header_repaired\");\n\n  // ragged rows normalized (wider + shorter than header)\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"amy\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"IB\", \"junk1\", \"junk2\", \"junk3\"],\n    [\"10 Jul 26\", \"ben\", \"09:00\", \"Inbound\", \"2026-07-10\", \"SITE\", \"SH-2\"]]);\n  const teamsByName = Object.fromEntries(out.map((r) => [r.name, r.team]));\n  assert(teamsByName[\"amy\"] === \"IB\" && teamsByName[\"ben\"] === \"IB\", \"ragged rows normalized\");\n  ok(\"test_ragged_rows_normalized\");\n\n  // duplicate header row dropped\n  out = loadRawFromValues([H, H.slice(), [\"9 Mar 26\", \"amy\", \"09:00\", \"Inbound\", \"2026-03-09\", \"SITE\", \"SH-1\", \"IB\"]]);\n  assert(out.length === 1 && out[0].name === \"amy\", \"duplicate header dropped\");\n  ok(\"test_duplicate_header_row_dropped\");\n\n  // team learned from shift name; ambiguous throws; unlearnable -> shift name; both-missing dropped\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"amy\", \"09:00\", \"Outbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"OBD\"],\n    [\"9 Jul 26\", \"ben\", \"09:00\", \"Outbound\", \"2026-07-09\", \"SITE\", \"SH-2\", \"\"],\n    [\"9 Jul 26\", \"cara\", \"09:00\", \"FSOCE \", \"2026-07-09\", \"SITE\", \"SH-3\", \"FSOCE\"],\n    [\"9 Jul 26\", \"dan\", \"09:00\", \"FSOCE\", \"2026-07-09\", \"SITE\", \"SH-4\", \"\"]]);\n  const t2 = Object.fromEntries(out.map((r) => [r.name, r.team]));\n  assert(t2[\"ben\"] === \"OBD\" && t2[\"dan\"] === \"FSOCE\", \"team learned\");\n  expectThrow(() => loadRawFromValues([H,\n    [\"9 Jul 26\", \"amy\", \"09:00\", \"Mixed\", \"2026-07-09\", \"SITE\", \"SH-1\", \"OBD\"],\n    [\"9 Jul 26\", \"ben\", \"09:00\", \"Mixed\", \"2026-07-09\", \"SITE\", \"SH-2\", \"IB\"],\n    [\"9 Jul 26\", \"cara\", \"09:00\", \"Mixed\", \"2026-07-09\", \"SITE\", \"SH-3\", \"\"]]),\n    \"more than one team\", \"ambiguous team\");\n  out = loadRawFromValues([H, [\"9 Jul 26\", \"erin\", \"09:00\", \"Ghost Shift\", \"2026-07-09\", \"SITE\", \"SH-9\", \"\"]]);\n  assert(out[0].team === \"Ghost Shift\", \"unlearnable -> shift name as team\");\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"fay\", \"09:00\", \"\", \"2026-07-09\", \"SITE\", \"SH-8\", \"\"],\n    [\"9 Jul 26\", \"gus\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-7\", \"IB\"]]);\n  assert(out.length === 1 && out[0].name === \"gus\", \"both-missing dropped\");\n  ok(\"test_team_learned_from_shift_name\");\n\n  // FSOCE hardcoded fallback when unlearnable (no valid example in tab)\n  out = loadRawFromValues([H,\n    [\"9 Mar 26\", \"amy\", \"09:00\", \"FSOCE\", \"2026-03-09\", \"SITE\", \"SH-1\", \"\"],\n    [\"9 Mar 26\", \"ben\", \"09:00\", \"FSOCE \", \"2026-03-09\", \"SITE\", \"SH-2\", \"\"]]);\n  assert(out.every((r) => r.team === \"FSOCE\"), \"FSOCE hardcoded fallback\");\n  ok(\"test_fsoce_hardcoded_fallback_when_unlearnable\");\n\n  // ---- engine numbers against the synthetic fixture (same as test.py) ----\n  const df = synthetic();\n  const sb = showupBlock(df);\n  assert(sb.counts[\"1-5\"][\"Mar\"] === 6 && sb.counts[\"6-10\"][\"Mar\"] === 1 && sb.counts[\"11-15\"][\"Mar\"] === 1, \"showup buckets\");\n  const rs = rotationSummary(df);\n  const ib = rs.find((r) => r.month === \"2026-03\" && r.team === \"IB\");\n  assert(ib.population === 8 && ib.rotation === 1 && ib.non_rotation === 7, \"rotation IB pop/rot\");\n  assert(ib.oneday_nonrot === 2, \"rotation IB oneday (Reading B)\");\n  const ms = rs.find((r) => r.month === \"2026-03\" && r.team === \"MS\");\n  assert(ms.population === 2 && ms.rotation === 1 && ms.oneday_nonrot === 1, \"rotation MS\");\n  const x = streakMonthCrosstab(df);\n  const mar = x.find((r) => r.month === \"Mar\");\n  assert(mar[\"usedto_<10\"] + mar[\"usedto_>10\"] === 5, \"streak usedto total\");\n  const w = Object.fromEntries(streakWeek(df).map((r) => [r.week, r]));\n  assert(w[\"W10\"][\">=3\"] === 4 && w[\"W11\"][\">=3\"] === 2 && w[\"W14\"][\">=3\"] === 1, \"streak week\");\n  ok(\"engine_synthetic_numbers\");\n\n  log.push(\"ALL SELF-TESTS PASSED\");\n  return [{ json: { passed: true, log: log } }];\n}\n\n// n8n Code node: `return runSelfTests();`  |  Node.js: prints below.\nif (typeof module !== \"undefined\" && require.main === module) {\n  const res = runSelfTests();\n  console.log(res[0].json.log.join(\"\\n\"));\n}\nif (typeof module !== \"undefined\") {\n  module.exports = {\n    loadRawFromValues: loadRawFromValues, cleanRaw: cleanRaw, rowsToRawObjects: rowsToRawObjects,\n    showupBlock: showupBlock, rotationSummary: rotationSummary, streakMonthCrosstab: streakMonthCrosstab,\n    streakWeek: streakWeek, makeDate: makeDate, monthLabel: monthLabel, runSelfTests: runSelfTests,\n    OPERATIONAL_TEAMS: OPERATIONAL_TEAMS, BUCKETS: BUCKETS,\n  };\n}\n\n/**\n * n8n Code node \"Clean Rows\".\n * Mode: \"Run Once for Each Item\". Language: JavaScript.\n *\n * HOW TO BUILD THIS NODE:\n *   Paste the FULL contents of engine.js first, then paste THIS footer at the\n *   very bottom (same pattern as running engine.js's self-tests). engine.js\n *   defines loadRawFromValues + all the date/cleaning helpers this uses.\n *\n * Sits in the read chain:\n *   [Parse Titles] -> [Get Tabs] -> [Build Ranges] -> [Batch Read] -> THIS\n * For ONE vendor file it: takes that file's values:batchGet response, cleans\n * every month tab through the engine (same cleaning as render/test.py), tags\n * each row with its department + vendor, and emits one item carrying all the\n * cleaned rows for that file. The next stage (\"Compute\") aggregates across\n * every file's item.\n *\n * The file's id/dept/vendor/monthTabs are carried through from [Build Ranges]\n * via the paired item -- the [Batch Read] HTTP response replaced this item's\n * json with the raw batchGet payload, so $('Build Ranges').item.json is how we\n * get the context back. IMPORTANT: the upstream node MUST be named exactly\n * \"Build Ranges\".\n */\n\n// ======================= paste engine.js ABOVE this line =======================\n\nconst ctx = $('Build Ranges').item.json;      // {id, name, dept, vendor, year, monthTabs}\nconst resp = $json;                            // { valueRanges: [{range, values:[...]}, ...] }\n\nconst ranges = resp.valueRanges || [];\nconst monthTabs = ctx.monthTabs || [];\n\n// valueRanges come back in the SAME order as the requested ranges (= monthTabs\n// order); match by position, exactly like app.py _batch_get_month_tabs.\nconst rows = [];\nfor (let i = 0; i < monthTabs.length; i++) {\n  const values = (ranges[i] && ranges[i].values) || [];\n  if (!values.length) continue;                // empty/future month tab -- skip\n  let cleaned;\n  try {\n    cleaned = loadRawFromValues(values);\n  } catch (e) {\n    // prefix with file/tab/dept/vendor so a live failure is diagnosable\n    // without opening the sheet (mirrors app.py's run_sync wrapping).\n    throw new Error(`'${ctx.name}' tab '${monthTabs[i]}' (dept=${ctx.dept}, vendor=${ctx.vendor}): ${e.message}`);\n  }\n  for (const r of cleaned) {\n    r.dept = ctx.dept;\n    r.vendor = ctx.vendor;\n    rows.push(r);\n  }\n}\n\nif (!rows.length) {\n  throw new Error(\n    `'${ctx.name}' (dept=${ctx.dept}, vendor=${ctx.vendor}) matched discovery but produced ` +\n    `no cleaned rows across ${monthTabs.length} month tab(s) -- schema drift or an empty file`\n  );\n}\n\nreturn [{\n  json: {\n    dept: ctx.dept,\n    vendor: ctx.vendor,\n    name: ctx.name,\n    count: rows.length,\n    rows: rows,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -752
      ],
      "id": "8614bf49-4578-4aaa-992c-9ccbec04a91e",
      "name": "Clean Rows"
    },
    {
      "parameters": {
        "jsCode": "/**\n * SOC worker-analysis engine -- dependency-free JavaScript port of\n * render/test.py's engine + report shaping, for running the whole pipeline\n * inside n8n (which can't run pandas). This file is the single source of the\n * metric/cleaning logic on the n8n side; keep it in lockstep with test.py's\n * LOCKED DEFINITIONS -- do not fork them.\n *\n * HOW TO VERIFY (do this before trusting it in a workflow):\n *   - In an n8n Code node (\"Run Once for All Items\", language JavaScript),\n *     paste this whole file, then add a final line:  return runSelfTests();\n *     Execute the node. It returns [{passed:true, log:[...]}] on success, or\n *     throws with the first failing assertion.\n *   - Or with Node.js locally:  node n8n/engine.js\n *\n * The self-tests mirror test.py's _run_tests exactly (same fixtures, same\n * expected numbers), so a pass here means the port matches the Python engine.\n */\n\n// ------------------------------------------------------------------ constants\nconst OPERATIONAL_TEAMS = [\"CBS\", \"IB\", \"mCBS\", \"MS\", \"OBI\", \"OBS\", \"OBC\", \"OBD\"];\nconst BUCKETS = [[1, 5], [6, 10], [11, 15], [16, 20], [21, 30]];\nconst MONTHS = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\n// group-key separator: a control char that never appears in real data, so\n// composite keys are unique even when a worker name contains spaces. Keys\n// built with SEP are NEVER split back apart -- fields are read from the\n// grouped rows instead (splitting on \" \" broke names like \"CYD 11 A B\").\nconst SEP = \"\\u0001\";\n\nconst REQUIRED_RAW_COLUMNS = [\"วันที่\", \"ค้นหา\", \"วันที่.1\", \"team\", \"เข้างาน\", \"shift name\", \"Shift_id\"];\nconst SHEETS_ERROR_SENTINELS = new Set([\"#REF!\", \"#N/A\", \"#VALUE!\", \"#DIV/0!\", \"#NAME?\", \"#NULL!\", \"#NUM!\", \"#ERROR!\"]);\n// confirmed business facts (see test.py _KNOWN_SHIFT_TEAM). Add a stripped\n// shift-name -> team entry here only when the team name genuinely differs\n// from the shift name; otherwise the shift-name-as-team fallback covers it.\nconst KNOWN_SHIFT_TEAM = { \"FSOCE\": \"FSOCE\" };\n\nconst MONTH_NUM = {};\n[\"january\", \"february\", \"march\", \"april\", \"may\", \"june\", \"july\",\n \"august\", \"september\", \"october\", \"november\", \"december\"].forEach((full, i) => {\n  MONTH_NUM[full] = i + 1;\n  MONTH_NUM[full.slice(0, 3)] = i + 1;\n});\n\n// ------------------------------------------------------------------ dates\nfunction pad2(n) { return String(n).padStart(2, \"0\"); }\n\nfunction makeDate(y, m, d) {\n  // canonical calendar date + everything downstream needs derived once.\n  const dayNum = Math.floor(Date.UTC(y, m - 1, d) / 86400000);\n  return {\n    y: y, m: m, d: d,\n    key: `${y}-${pad2(m)}-${pad2(d)}`,\n    month: `${y}-${pad2(m)}`,          // YYYY-MM (engine grouping)\n    dayNum: dayNum,                    // integer day, for consecutive-run math\n    iso: isoWeekYear(y, m, d),\n  };\n}\n\nfunction isoWeekYear(y, m, d) {\n  // standard ISO-8601 week/year (matches pandas dt.isocalendar()).\n  const dt = new Date(Date.UTC(y, m - 1, d));\n  const dayNum = (dt.getUTCDay() + 6) % 7;        // Mon=0..Sun=6\n  dt.setUTCDate(dt.getUTCDate() - dayNum + 3);     // Thursday of this ISO week\n  const isoYear = dt.getUTCFullYear();\n  const firstThursday = new Date(Date.UTC(isoYear, 0, 4));\n  const ftDayNum = (firstThursday.getUTCDay() + 6) % 7;\n  firstThursday.setUTCDate(firstThursday.getUTCDate() - ftDayNum + 3);\n  const week = 1 + Math.round((dt - firstThursday) / (7 * 86400000));\n  return { year: isoYear, week: week };\n}\n\nfunction validYMD(y, m, d) {\n  if (!Number.isInteger(y) || !Number.isInteger(m) || !Number.isInteger(d)) return false;\n  if (m < 1 || m > 12 || d < 1 || d > 31) return false;\n  return true;\n}\n\nfunction normYear(y) { return y < 100 ? 2000 + y : y; }\n\nfunction parseDayFirst(s) {\n  // \"9 Jul 26\", \"01 Jun 26\", \"1-Jan-26\", \"9/7/26\", or ISO \"2026-05-09\".\n  // Returns makeDate or null (null = unparseable, caller decides to throw).\n  const t = String(s).trim().split(/[\\s\\-\\/.]+/).filter(Boolean);\n  if (t.length !== 3) return null;\n  let y, m, d;\n  if (/^\\d{4}$/.test(t[0])) {                       // year-first (ISO-ish)\n    y = parseInt(t[0], 10); m = monthToken(t[1]); d = parseInt(t[2], 10);\n  } else {                                          // day-first\n    d = parseInt(t[0], 10); m = monthToken(t[1]); y = normYear(parseInt(t[2], 10));\n  }\n  if (m == null || !validYMD(y, m, d)) return null;\n  return makeDate(y, m, d);\n}\n\nfunction parseISO(s) {\n  const mm = String(s).trim().match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})$/);\n  if (!mm) return null;\n  const y = parseInt(mm[1], 10), m = parseInt(mm[2], 10), d = parseInt(mm[3], 10);\n  if (!validYMD(y, m, d)) return null;\n  return makeDate(y, m, d);\n}\n\nfunction monthToken(tok) {\n  if (/^\\d{1,2}$/.test(tok)) { const n = parseInt(tok, 10); return (n >= 1 && n <= 12) ? n : null; }\n  const n = MONTH_NUM[tok.toLowerCase()];\n  return n == null ? null : n;\n}\n\nfunction monthLabel(monthISO) {           // \"2026-06\" -> \"Jun\"\n  const m = parseInt(monthISO.slice(5, 7), 10);\n  return MONTHS[m - 1];\n}\n\nfunction parseClockMinutes(s) {            // \"09:00\" -> 540; garbled -> null (sorts last)\n  const mm = String(s).trim().match(/^(\\d{1,2}):(\\d{2})/);\n  if (!mm) return null;\n  return parseInt(mm[1], 10) * 60 + parseInt(mm[2], 10);\n}\n\n// ------------------------------------------------------------------ raw input\nfunction mangleDupeCols(header) {\n  const seen = {};\n  return header.map((h) => {\n    const n = seen[h] || 0;\n    seen[h] = n + 1;\n    return n === 0 ? h : `${h}.${n}`;\n  });\n}\n\nfunction repairDateHeaderPositions(header) {\n  if (!header.includes(\"ค้นหา\") || !header.includes(\"shift name\")) return header;\n  const out = header.slice();\n  const nameIdx = out.indexOf(\"ค้นหา\");\n  const shiftIdx = out.indexOf(\"shift name\");\n  if (nameIdx - 1 >= 0) out[nameIdx - 1] = \"วันที่\";\n  if (shiftIdx + 1 < out.length) out[shiftIdx + 1] = \"วันที่\";\n  return out;\n}\n\nfunction isSuperset(candidate) {\n  const s = new Set(candidate);\n  return REQUIRED_RAW_COLUMNS.every((c) => s.has(c));\n}\n\nfunction mangledHeaderCandidates(row) {\n  return [mangleDupeCols(row), mangleDupeCols(repairDateHeaderPositions(row))];\n}\n\nfunction findHeaderRow(rows, maxScan) {\n  maxScan = maxScan || 5;\n  for (let i = 0; i < Math.min(maxScan, rows.length); i++) {\n    for (const cand of mangledHeaderCandidates(rows[i])) {\n      if (isSuperset(cand)) return i;\n    }\n  }\n  throw new Error(\n    `couldn't find a header row containing ${JSON.stringify(REQUIRED_RAW_COLUMNS.slice().sort())} ` +\n    `in the first ${maxScan} rows -- schema drift, or a banner deeper than expected`\n  );\n}\n\nfunction resolveHeader(row) {\n  for (const cand of mangledHeaderCandidates(row)) {\n    if (isSuperset(cand)) return cand;\n  }\n  throw new Error(\"header row no longer matches on rebuild -- internal inconsistency\");\n}\n\nfunction rowsToRawObjects(grid) {\n  // grid: array of string-arrays (ragged allowed). -> array of row objects\n  // keyed by the mangled header; \"\" cells become null (pandas .replace(\"\", NA)).\n  if (!grid || grid.length === 0) throw new Error(\"empty sheet -- no header row\");\n  const width = Math.max.apply(null, grid.map((r) => r.length));\n  const padded = grid.map((r) => r.concat(Array(width - r.length).fill(\"\")));\n  const headerIdx = findHeaderRow(padded);\n  const header = resolveHeader(padded[headerIdx]);\n  return padded.slice(headerIdx + 1).map((r) => {\n    const obj = {};\n    for (let c = 0; c < header.length; c++) {\n      const v = r[c];\n      obj[header[c]] = (v === \"\" || v == null) ? null : v;\n    }\n    return obj;\n  });\n}\n\nfunction clearSentinel(v) {\n  if (v == null) return null;\n  return SHEETS_ERROR_SENTINELS.has(v) ? null : v;\n}\n\n// resolve one date cell like pandas to_datetime(..., errors=\"raise\") after the\n// sentinel/blank normalization: blank or sentinel -> null (NA, fine); a real\n// non-empty value that can't be parsed -> throw.\nfunction dateCell(rawVal, parser) {\n  const v = clearSentinel(rawVal);\n  if (v == null || v === \"\") return null;\n  const p = parser(v);\n  if (p == null) throw new Error(`Unknown datetime string format, unable to parse: ${v}`);\n  return p;\n}\n\n// ------------------------------------------------------------------ cleaning\nfunction cleanRaw(rawObjs) {\n  const cols = rawObjs.length ? new Set(Object.keys(rawObjs[0])) : new Set();\n  const missing = REQUIRED_RAW_COLUMNS.filter((c) => !cols.has(c));\n  if (rawObjs.length && missing.length) {\n    throw new Error(`missing required raw columns: ${JSON.stringify(missing.sort())}`);\n  }\n\n  // keep rows with a real name; drop an accidentally-duplicated header row\n  let rows = rawObjs.filter((r) => r[\"ค้นหา\"] != null && r[\"ค้นหา\"] !== \"ค้นหา\");\n\n  // per-row: normalize sentinels, parse both date columns, cross-fill\n  rows = rows.map((r) => {\n    const team0 = clearSentinel(r[\"team\"]);\n    const d1 = dateCell(r[\"วันที่\"], parseDayFirst);\n    const d2 = dateCell(r[\"วันที่.1\"], parseISO);\n    return { r: r, team: team0, d1: d1 || d2, d2: d2 || d1 };\n  });\n\n  // unrecoverable date (both null): drop only if EVERY other field is blank\n  // (roster placeholder); otherwise it's a real gap -> throw.\n  const stillBad = [];\n  rows = rows.filter((x) => {\n    if (x.d1 || x.d2) return true;\n    const r = x.r;\n    const placeholder = x.team == null && r[\"shift name\"] == null &&\n      r[\"เข้างาน\"] == null && r[\"Shift_id\"] == null;\n    if (placeholder) return false;\n    stillBad.push(x.r[\"ค้นหา\"]);\n    return true;\n  });\n  if (stillBad.length) {\n    throw new Error(\n      `${stillBad.length} row(s) have no usable date in either วันที่ or วันที่.1 ` +\n      `but other fields are populated -- stop, ask. First workers: ${JSON.stringify(stillBad.slice(0, 5))}`\n    );\n  }\n\n  // both dates present but disagree -> genuine ambiguity, throw\n  const mism = rows.filter((x) => x.d1.key !== x.d2.key);\n  if (mism.length) {\n    const ex = mism.slice(0, 5).map((x) =>\n      `${x.r[\"ค้นหา\"]}: วันที่=${JSON.stringify(x.r[\"วันที่\"])} (${x.d1.key}) vs ` +\n      `วันที่.1=${JSON.stringify(x.r[\"วันที่.1\"])} (${x.d2.key})`).join(\"; \");\n    throw new Error(\n      `วันที่ and วันที่.1 disagree on date for ${mism.length} row(s) -- stop, ask ` +\n      `which is the show-up date. First examples: ${ex}`\n    );\n  }\n\n  // shift name (stripped) and team backfill\n  rows.forEach((x) => { x.shift = x.r[\"shift name\"] == null ? null : String(x.r[\"shift name\"]).trim(); });\n\n  const needsTeam = rows.filter((x) => x.team == null);\n  if (needsTeam.length) {\n    const needed = new Set(needsTeam.map((x) => x.shift));\n    // learn shift -> team from rows that already have both, limited to needed shifts\n    const learned = {};                 // shift -> Set(team)\n    rows.filter((x) => x.team != null).forEach((x) => {\n      if (!needed.has(x.shift)) return;\n      (learned[x.shift] = learned[x.shift] || new Set()).add(x.team);\n    });\n    const ambiguous = Object.keys(learned).filter((s) => learned[s].size > 1).sort();\n    if (ambiguous.length) {\n      throw new Error(`shift name(s) map to more than one team, can't backfill safely: ${JSON.stringify(ambiguous)} -- stop, ask`);\n    }\n    const shiftToTeam = {};\n    Object.keys(learned).forEach((s) => { shiftToTeam[s] = Array.from(learned[s])[0]; });\n\n    needsTeam.forEach((x) => {\n      if (x.shift != null && shiftToTeam[x.shift] != null) x.team = shiftToTeam[x.shift];   // data-driven\n      if (x.team == null && x.shift != null && KNOWN_SHIFT_TEAM[x.shift] != null) x.team = KNOWN_SHIFT_TEAM[x.shift];  // confirmed facts\n      if (x.team == null && x.shift != null && x.shift !== \"\") x.team = x.shift;             // shift name as team\n    });\n\n    // a row with NEITHER team nor shift name: nothing to attribute -> drop\n    rows = rows.filter((x) => x.team != null);\n  }\n\n  // build clean rows; dedup (name,date) keeping earliest clock-in (garbled -> last)\n  const built = rows.map((x, i) => ({\n    name: x.r[\"ค้นหา\"],\n    date: x.d2,\n    team: x.team,\n    clockin: x.r[\"เข้างาน\"] == null ? null : x.r[\"เข้างาน\"],\n    shift_name: x.shift,\n    shift_id: x.r[\"Shift_id\"] == null ? null : x.r[\"Shift_id\"],\n    _clock: parseClockMinutes(x.r[\"เข้างาน\"] == null ? \"\" : x.r[\"เข้างาน\"]),\n    _i: i,\n  }));\n  // stable sort by clock (null last), then keep first per (name,date)\n  built.sort((a, b) => {\n    const ca = a._clock == null ? Infinity : a._clock;\n    const cb = b._clock == null ? Infinity : b._clock;\n    return ca !== cb ? ca - cb : a._i - b._i;\n  });\n  const seen = new Set();\n  const out = [];\n  for (const b of built) {\n    const k = b.name + SEP + b.date.key;\n    if (seen.has(k)) continue;\n    seen.add(k);\n    out.push({\n      name: b.name, date: b.date, team: b.team, clockin: b.clockin,\n      shift_name: b.shift_name, shift_id: b.shift_id, month: monthLabel(b.date.month),\n    });\n  }\n  return out;\n}\n\n// public: raw grid (array of string-arrays) -> clean rows\nfunction loadRawFromValues(grid) {\n  return cleanRaw(rowsToRawObjects(grid));\n}\n\n// ------------------------------------------------------------------ core engine\nfunction prepare(rows) {\n  // rows: [{name, date:makeDate, team, ...}]. Validates uniqueness of (name,date).\n  const seen = new Set();\n  for (const r of rows) {\n    if (r.name == null || r.date == null || r.team == null) {\n      throw new Error(\"missing required columns: name/date/team\");\n    }\n    const k = r.name + SEP + r.date.key;\n    if (seen.has(k)) throw new Error(\"duplicate (name,date) rows -- clean set must be one row per worker per day\");\n    seen.add(k);\n  }\n  return rows;\n}\n\nfunction maxConsecutiveRun(dayNums) {\n  const ds = Array.from(new Set(dayNums)).sort((a, b) => a - b);\n  if (!ds.length) return 0;\n  let best = 1, cur = 1;\n  for (let i = 1; i < ds.length; i++) {\n    cur = ds[i] - ds[i - 1] === 1 ? cur + 1 : 1;\n    if (cur > best) best = cur;\n  }\n  return best;\n}\n\nfunction sortedUnique(arr) { return Array.from(new Set(arr)).sort(); }\n\nfunction round2(x) { return Math.round((x + Number.EPSILON) * 100) / 100; }\n\n// group rows by keyFn; returns Map(key -> rows[]). Keys are never split back\n// apart -- callers read fields from the grouped rows, so a name with spaces or\n// any separator can't corrupt the grouping.\nfunction groupBy(rows, keyFn) {\n  const m = new Map();\n  for (const r of rows) {\n    const k = keyFn(r);\n    if (!m.has(k)) m.set(k, []);\n    m.get(k).push(r);\n  }\n  return m;\n}\n\n// distinct show-up days per (month, worker)\nfunction daysPerMonthWorker(d, team) {\n  const x = team == null ? d : d.filter((r) => r.team === team);\n  const g = groupBy(x, (r) => r.date.month + SEP + r.name);\n  const out = [];\n  for (const rs of g.values()) {\n    out.push({\n      month: rs[0].date.month,\n      name: rs[0].name,\n      days: new Set(rs.map((r) => r.date.key)).size,\n    });\n  }\n  return out;\n}\n\nfunction showupBlock(rows, team) {\n  const d = prepare(rows);\n  const days = daysPerMonthWorker(d, team);\n  const months = sortedUnique(d.map((r) => r.date.month));\n  const bucketLabels = BUCKETS.map(([lo, hi]) => `${lo}-${hi}`);\n  const counts = {};  // bucketLabel -> {monthISO -> n}\n  bucketLabels.forEach((b) => { counts[b] = {}; });\n  const summ = {};\n  for (const m of months) {\n    const g = days.filter((x) => x.month === m);\n    BUCKETS.forEach(([lo, hi], bi) => {\n      counts[bucketLabels[bi]][m] = g.filter((x) => x.days >= lo && x.days <= hi).length;\n    });\n    summ[m] = bucketLabels.reduce((s, b) => s + counts[b][m], 0);\n  }\n  // shape as {counts, pct} keyed by bucketLabel (+ \"Sum Month\") -> {monthLabel -> value}\n  const relabel = (obj) => {\n    const o = {};\n    for (const b of Object.keys(obj)) {\n      o[b] = {};\n      for (const m of months) o[b][monthLabel(m)] = obj[b][m];\n    }\n    return o;\n  };\n  const countsOut = relabel(counts);\n  const pct = {};\n  bucketLabels.forEach((b) => {\n    pct[b] = {};\n    for (const m of months) pct[b][monthLabel(m)] = summ[m] ? round2(counts[b][m] / summ[m] * 100) : 0.0;\n  });\n  countsOut[\"Sum Month\"] = {};\n  pct[\"Sum Month\"] = {};\n  for (const m of months) {\n    countsOut[\"Sum Month\"][monthLabel(m)] = summ[m];\n    pct[\"Sum Month\"][monthLabel(m)] = 100.0;\n  }\n  return { counts: countsOut, pct: pct, monthLabels: months.map(monthLabel) };\n}\n\nfunction rotationWorkerTable(rows) {\n  const d = prepare(rows);\n  const g = groupBy(d, (r) => r.date.month + SEP + r.name);\n  const table = [];\n  for (const rs of g.values()) {\n    const teamCount = {};\n    rs.forEach((r) => { teamCount[r.team] = (teamCount[r.team] || 0) + 1; });\n    const rotationCount = Object.values(teamCount).filter((c) => c > 0).length;\n    const analyze = {};\n    for (const t of OPERATIONAL_TEAMS) {\n      const c = teamCount[t] || 0;\n      analyze[t] = (c > 1 && rotationCount > 1) ? \"Rotated\" : \"\";\n    }\n    table.push({ month: rs[0].date.month, name: rs[0].name, teamCount: teamCount, analyze: analyze });\n  }\n  return table;\n}\n\nfunction rotationSummary(rows) {\n  const wt = rotationWorkerTable(rows);\n  const byMonth = groupBy(wt, (r) => r.month);\n  const out = [];\n  for (const month of Array.from(byMonth.keys()).sort()) {\n    const g = byMonth.get(month);\n    for (const t of OPERATIONAL_TEAMS) {\n      const inTeam = g.filter((r) => (r.teamCount[t] || 0) >= 1);\n      const pop = inTeam.length;\n      if (pop === 0) continue;\n      const rotated = inTeam.filter((r) => r.analyze[t] === \"Rotated\").length;\n      const nonrot = pop - rotated;\n      const oneday = inTeam.filter((r) => r.analyze[t] !== \"Rotated\" && (r.teamCount[t] || 0) === 1).length;\n      out.push({\n        month: month, team: t, population: pop, rotation: rotated, non_rotation: nonrot,\n        oneday_nonrot: oneday,\n        \"rotation%\": round2(rotated / pop * 100),\n        \"non_rotation%\": round2(nonrot / pop * 100),\n        \"oneday%\": nonrot ? round2(oneday / nonrot * 100) : null,\n      });\n    }\n  }\n  return out;\n}\n\nfunction workerMonthStats(d, team) {\n  const x = team == null ? d : d.filter((r) => r.team === team);\n  const g = groupBy(x, (r) => r.date.month + SEP + r.name);\n  const out = [];\n  for (const rs of g.values()) {\n    out.push({\n      month: rs[0].date.month,\n      name: rs[0].name,\n      days: new Set(rs.map((r) => r.date.key)).size,\n      run: maxConsecutiveRun(rs.map((r) => r.date.dayNum)),\n    });\n  }\n  return out;\n}\n\nfunction streakMonthCrosstab(rows, team) {\n  const d = prepare(rows);\n  const st = workerMonthStats(d, team);\n  const months = sortedUnique(d.map((r) => r.date.month));\n  const out = [];\n  for (const m of months) {\n    const g = st.filter((x) => x.month === m);\n    const lt = (x) => x.days < 10, gt = (x) => x.days > 10, used = (x) => x.run >= 3;\n    out.push({\n      month: monthLabel(m), active: g.length,\n      \"<10\": g.filter(lt).length, \">10\": g.filter(gt).length,\n      \"usedto_<10\": g.filter((x) => used(x) && lt(x)).length,\n      \"usedto_>10\": g.filter((x) => used(x) && gt(x)).length,\n      \"never_<10\": g.filter((x) => !used(x) && lt(x)).length,\n      \"never_>10\": g.filter((x) => !used(x) && gt(x)).length,\n    });\n  }\n  return out;\n}\n\nfunction streakWeek(rows, team, minRun) {\n  minRun = minRun || 3;\n  const d = prepare(rows);\n  const x = team == null ? d : d.filter((r) => r.team === team);\n  const g = groupBy(x, (r) => r.date.iso.year + SEP + r.date.iso.week);\n  const out = [];\n  for (const rs of g.values()) {\n    const week = rs[0].date.iso.week;\n    const byWorker = groupBy(rs, (r) => r.name);\n    const runs = Array.from(byWorker.values()).map((wr) => maxConsecutiveRun(wr.map((r) => r.date.dayNum)));\n    const active = runs.length;\n    const q = runs.filter((r) => r >= minRun).length;\n    out.push({ week: `W${week}`, active: active, \">=3\": q, \"<3\": active - q, \">=3%\": active ? round2(q / active * 100) : 0.0 });\n  }\n  return out.sort((a, b) => parseInt(a.week.slice(1), 10) - parseInt(b.week.slice(1), 10));\n}\n\n// ------------------------------------------------------------------ self-tests\nfunction assert(cond, msg) { if (!cond) throw new Error(\"ASSERT FAILED: \" + msg); }\n\nfunction makeCleanRows(triples) {\n  // triples: [name, team, [y,m,d]] -> engine-ready rows\n  return triples.map(([name, team, ymd]) => ({ name: name, team: team, date: makeDate(ymd[0], ymd[1], ymd[2]) }));\n}\n\nfunction synthetic() {\n  const r = [];\n  const add = (n, t, days) => days.forEach(([m, d]) => r.push([n, t, [2026, m, d]]));\n  add(\"alice\", \"IB\", [[3, 2], [3, 3], [3, 4], [3, 5], [3, 6]]);\n  add(\"bob\", \"IB\", [[3, 2]]); add(\"bob\", \"MS\", [[3, 3]]);\n  add(\"carol\", \"IB\", [[3, 9], [3, 10], [3, 11], [3, 16]]);\n  add(\"dave\", \"IB\", [[3, 2], [3, 3]]); add(\"dave\", \"MS\", [[3, 4], [3, 5], [3, 6]]);\n  add(\"erin\", \"IB\", [[3, 2]]);\n  add(\"frank\", \"IB\", [[3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 9], [3, 10]]);\n  add(\"grace\", \"IB\", [[3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 9], [3, 10], [3, 11], [3, 12], [3, 13], [3, 16], [3, 17]]);\n  add(\"henry\", \"IB\", [[3, 30], [3, 31], [4, 1]]);\n  return makeCleanRows(r);\n}\n\nfunction expectThrow(fn, needle, label) {\n  let threw = false;\n  try { fn(); } catch (e) { threw = true; assert(String(e.message).includes(needle), `${label}: wrong error: ${e.message}`); }\n  assert(threw, `${label}: expected a throw`);\n}\n\nconst H = [\"วันที่\", \"ค้นหา\", \"เข้างาน\", \"shift name\", \"วันที่\", \"BTS\", \"Shift_id\", \"team\"];\n\nfunction runSelfTests() {\n  const log = [];\n  const ok = (name) => log.push(name + \" passed\");\n\n  // ref-date fallback: broken วันที่.1 recovered from วันที่\n  let out = loadRawFromValues([H, [\"9 Jul 26\", \"zoe\", \"09:00\", \"Inbound\", \"#REF!\", \"SITE\", \"SH-9\", \"IB\"]]);\n  assert(out.length === 1 && out[0].date.key === \"2026-07-09\", \"ref-date fallback\");\n  ok(\"test_ref_date_fallback\");\n\n  // sentinel general: broken วันที่ recovered from วันที่.1; both broken -> throw\n  out = loadRawFromValues([H, [\"#VALUE!\", \"amy\", \"09:00\", \"Inbound\", \"2026-07-10\", \"SITE\", \"SH-1\", \"IB\"]]);\n  assert(out[0].date.key === \"2026-07-10\", \"sentinel symmetric\");\n  expectThrow(() => loadRawFromValues([H, [\"#REF!\", \"ben\", \"09:00\", \"Inbound\", \"#N/A\", \"SITE\", \"SH-2\", \"IB\"]]),\n    \"no usable date\", \"sentinel both-broken\");\n  ok(\"test_sheets_error_sentinels_general\");\n\n  // blank placeholder dropped; date-only-missing throws\n  out = loadRawFromValues([H,\n    [\"\", \"CYD 11502 THAE THAE\", \"\", \"\", \"\", \"SITE\", \"\", \"\"],\n    [\"9 Jul 26\", \"zoe\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-9\", \"IB\"]]);\n  assert(out.length === 1 && out[0].name === \"zoe\", \"placeholder dropped\");\n  expectThrow(() => loadRawFromValues([H, [\"\", \"carol\", \"09:00\", \"Inbound\", \"\", \"SITE\", \"SH-3\", \"IB\"]]),\n    \"other fields are populated\", \"date-only-missing\");\n  ok(\"test_blank_placeholder_row_dropped\");\n\n  // garbled clock-in tolerated; loses same-day tie to a real time\n  out = loadRawFromValues([H, [\"9 Jul 26\", \"amy\", \"$0.88\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"IB\"]]);\n  assert(out.length === 1 && out[0].clockin === \"$0.88\", \"garbled clockin preserved\");\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"ben\", \"$0.88\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-2\", \"IB\"],\n    [\"9 Jul 26\", \"ben\", \"08:00\", \"Outbound\", \"2026-07-09\", \"SITE\", \"SH-3\", \"OBD\"]]);\n  assert(out.length === 1 && out[0].team === \"OBD\", \"real clock-in wins tie\");\n  ok(\"test_garbled_clockin_tolerated\");\n\n  // names with spaces must survive grouping (regression guard for the SEP fix)\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"CYD 11 A B\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"IB\"],\n    [\"10 Jul 26\", \"CYD 11 A B\", \"09:00\", \"Inbound\", \"2026-07-10\", \"SITE\", \"SH-1\", \"IB\"]]);\n  const sb0 = showupBlock(out);\n  assert(sb0.counts[\"1-5\"][\"Jul\"] === 1, \"name-with-spaces grouped as one worker\");\n  ok(\"test_name_with_spaces\");\n\n  // corrupted date header (\"49\") repaired by position; bad data still throws\n  const Hbad = [\"49\", \"ค้นหา\", \"เข้างาน\", \"shift name\", \"วันที่\", \"BTS\", \"Shift_id\", \"team\", \"กะ\", \"เวลาเข้า-ออกงาน\"];\n  out = loadRawFromValues([Hbad, [\"9 May 26\", \"amy\", \"09:00\", \"Inbound\", \"2026-05-09\", \"SITE\", \"SH-1\", \"IB\", \"K1\", \"09:00-17:00\"]]);\n  assert(out.length === 1 && out[0].date.key === \"2026-05-09\", \"corrupted header repaired\");\n  expectThrow(() => loadRawFromValues([Hbad, [\"not a date\", \"ben\", \"09:00\", \"Inbound\", \"2026-05-10\", \"SITE\", \"SH-2\", \"IB\", \"K1\", \"09:00-17:00\"]]),\n    \"unable to parse\", \"corrupted header bad data\");\n  ok(\"test_corrupted_date_header_repaired\");\n\n  // ragged rows normalized (wider + shorter than header)\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"amy\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"IB\", \"junk1\", \"junk2\", \"junk3\"],\n    [\"10 Jul 26\", \"ben\", \"09:00\", \"Inbound\", \"2026-07-10\", \"SITE\", \"SH-2\"]]);\n  const teamsByName = Object.fromEntries(out.map((r) => [r.name, r.team]));\n  assert(teamsByName[\"amy\"] === \"IB\" && teamsByName[\"ben\"] === \"IB\", \"ragged rows normalized\");\n  ok(\"test_ragged_rows_normalized\");\n\n  // duplicate header row dropped\n  out = loadRawFromValues([H, H.slice(), [\"9 Mar 26\", \"amy\", \"09:00\", \"Inbound\", \"2026-03-09\", \"SITE\", \"SH-1\", \"IB\"]]);\n  assert(out.length === 1 && out[0].name === \"amy\", \"duplicate header dropped\");\n  ok(\"test_duplicate_header_row_dropped\");\n\n  // team learned from shift name; ambiguous throws; unlearnable -> shift name; both-missing dropped\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"amy\", \"09:00\", \"Outbound\", \"2026-07-09\", \"SITE\", \"SH-1\", \"OBD\"],\n    [\"9 Jul 26\", \"ben\", \"09:00\", \"Outbound\", \"2026-07-09\", \"SITE\", \"SH-2\", \"\"],\n    [\"9 Jul 26\", \"cara\", \"09:00\", \"FSOCE \", \"2026-07-09\", \"SITE\", \"SH-3\", \"FSOCE\"],\n    [\"9 Jul 26\", \"dan\", \"09:00\", \"FSOCE\", \"2026-07-09\", \"SITE\", \"SH-4\", \"\"]]);\n  const t2 = Object.fromEntries(out.map((r) => [r.name, r.team]));\n  assert(t2[\"ben\"] === \"OBD\" && t2[\"dan\"] === \"FSOCE\", \"team learned\");\n  expectThrow(() => loadRawFromValues([H,\n    [\"9 Jul 26\", \"amy\", \"09:00\", \"Mixed\", \"2026-07-09\", \"SITE\", \"SH-1\", \"OBD\"],\n    [\"9 Jul 26\", \"ben\", \"09:00\", \"Mixed\", \"2026-07-09\", \"SITE\", \"SH-2\", \"IB\"],\n    [\"9 Jul 26\", \"cara\", \"09:00\", \"Mixed\", \"2026-07-09\", \"SITE\", \"SH-3\", \"\"]]),\n    \"more than one team\", \"ambiguous team\");\n  out = loadRawFromValues([H, [\"9 Jul 26\", \"erin\", \"09:00\", \"Ghost Shift\", \"2026-07-09\", \"SITE\", \"SH-9\", \"\"]]);\n  assert(out[0].team === \"Ghost Shift\", \"unlearnable -> shift name as team\");\n  out = loadRawFromValues([H,\n    [\"9 Jul 26\", \"fay\", \"09:00\", \"\", \"2026-07-09\", \"SITE\", \"SH-8\", \"\"],\n    [\"9 Jul 26\", \"gus\", \"09:00\", \"Inbound\", \"2026-07-09\", \"SITE\", \"SH-7\", \"IB\"]]);\n  assert(out.length === 1 && out[0].name === \"gus\", \"both-missing dropped\");\n  ok(\"test_team_learned_from_shift_name\");\n\n  // FSOCE hardcoded fallback when unlearnable (no valid example in tab)\n  out = loadRawFromValues([H,\n    [\"9 Mar 26\", \"amy\", \"09:00\", \"FSOCE\", \"2026-03-09\", \"SITE\", \"SH-1\", \"\"],\n    [\"9 Mar 26\", \"ben\", \"09:00\", \"FSOCE \", \"2026-03-09\", \"SITE\", \"SH-2\", \"\"]]);\n  assert(out.every((r) => r.team === \"FSOCE\"), \"FSOCE hardcoded fallback\");\n  ok(\"test_fsoce_hardcoded_fallback_when_unlearnable\");\n\n  // ---- engine numbers against the synthetic fixture (same as test.py) ----\n  const df = synthetic();\n  const sb = showupBlock(df);\n  assert(sb.counts[\"1-5\"][\"Mar\"] === 6 && sb.counts[\"6-10\"][\"Mar\"] === 1 && sb.counts[\"11-15\"][\"Mar\"] === 1, \"showup buckets\");\n  const rs = rotationSummary(df);\n  const ib = rs.find((r) => r.month === \"2026-03\" && r.team === \"IB\");\n  assert(ib.population === 8 && ib.rotation === 1 && ib.non_rotation === 7, \"rotation IB pop/rot\");\n  assert(ib.oneday_nonrot === 2, \"rotation IB oneday (Reading B)\");\n  const ms = rs.find((r) => r.month === \"2026-03\" && r.team === \"MS\");\n  assert(ms.population === 2 && ms.rotation === 1 && ms.oneday_nonrot === 1, \"rotation MS\");\n  const x = streakMonthCrosstab(df);\n  const mar = x.find((r) => r.month === \"Mar\");\n  assert(mar[\"usedto_<10\"] + mar[\"usedto_>10\"] === 5, \"streak usedto total\");\n  const w = Object.fromEntries(streakWeek(df).map((r) => [r.week, r]));\n  assert(w[\"W10\"][\">=3\"] === 4 && w[\"W11\"][\">=3\"] === 2 && w[\"W14\"][\">=3\"] === 1, \"streak week\");\n  ok(\"engine_synthetic_numbers\");\n\n  log.push(\"ALL SELF-TESTS PASSED\");\n  return [{ json: { passed: true, log: log } }];\n}\n\n// n8n Code node: `return runSelfTests();`  |  Node.js: prints below.\nif (typeof module !== \"undefined\" && require.main === module) {\n  const res = runSelfTests();\n  console.log(res[0].json.log.join(\"\\n\"));\n}\nif (typeof module !== \"undefined\") {\n  module.exports = {\n    loadRawFromValues: loadRawFromValues, cleanRaw: cleanRaw, rowsToRawObjects: rowsToRawObjects,\n    showupBlock: showupBlock, rotationSummary: rotationSummary, streakMonthCrosstab: streakMonthCrosstab,\n    streakWeek: streakWeek, makeDate: makeDate, monthLabel: monthLabel, runSelfTests: runSelfTests,\n    OPERATIONAL_TEAMS: OPERATIONAL_TEAMS, BUCKETS: BUCKETS,\n  };\n}\n\n\n/**\n * n8n Code node \"Compute Tabs\".\n * Mode: \"Run Once for All Items\". Language: JavaScript.\n *\n * HOW TO BUILD THIS NODE:\n *   Paste the FULL contents of engine.js first, then paste THIS footer at the\n *   very bottom. engine.js provides showupBlock/rotationSummary/\n *   streakMonthCrosstab + BUCKETS and all the helpers.\n *\n * Sits after the read/clean chain:\n *   ... -> [Clean Rows] (one item per vendor file) -> THIS\n * It gathers every cleaned row across all files, groups by the data-derived\n * year, and for each year builds the 7 central-sheet tabs as ready-to-write\n * 2D grids (header row + data rows), matching render/app.py exactly:\n *   - 4 department tabs (RAW input option): SOCN/SOCE/SOCW/FSOCW, with the\n *     verbatim 8-column header. Always emitted, header-only if a dept has no\n *     rows that year, so the 7-tab shape never varies.\n *   - 3 summary tabs (USER_ENTERED input option): Summary_1 / Summary_Rotation\n *     / Summary_5, same computation as the Python engine (already verified by\n *     runSelfTests()).\n *\n * Output: ONE item per data-year, { year, departments, summaryTabs, tabs },\n * where tabs is { tabName -> grid }. The Write stage consumes this.\n *\n * The engine's prepare() (called inside each summary function) throws on a\n * duplicate (name,date) across the year's combined dept/vendor rows -- that's\n * the same cross-vendor collision guard app.py runs before writing summaries.\n */\n\n// ======================= paste engine.js ABOVE this line =======================\n\n// verbatim, user-specified raw-tab header (app.py RAW_TAB_COLUMNS order)\nconst RAW_TAB_HEADER = [\"Date show up\", \"Month show up\", \"Sub-con name\", \"Name\",\n                        \"Clock in\", \"shift name\", \"Shift_id\", \"team\"];\nconst DEPARTMENTS = [\"SOCN\", \"SOCE\", \"SOCW\", \"FSOCW\"];\nconst SUMMARY_TABS = [\"Summary_1\", \"Summary_Rotation\", \"Summary_5\"];\n\nconst BUCKET_ORDER = BUCKETS.map(([lo, hi]) => `${lo}-${hi}`).concat([\"Sum Month\"]);\n// column order = engine dict-key order (matches test.py / app.py DataFrame cols)\nconst ROTATION_COLS = [\"month\", \"team\", \"population\", \"rotation\", \"non_rotation\",\n                       \"oneday_nonrot\", \"rotation%\", \"non_rotation%\", \"oneday%\"];\nconst STREAK_COLS = [\"month\", \"active\", \"<10\", \">10\",\n                     \"usedto_<10\", \"usedto_>10\", \"never_<10\", \"never_>10\"];\n\nconst cell = (v) => (v == null ? \"\" : String(v));\n\n// gather every cleaned row across all files\nconst all = [];\nfor (const it of items) {\n  for (const r of (it.json.rows || [])) all.push(r);\n}\nif (!all.length) throw new Error(\"no cleaned rows from any file -- nothing to compute\");\n\n// group by data-derived year (date.y), like app.py pd.to_datetime(date).dt.year\nconst byYear = new Map();\nfor (const r of all) {\n  const y = String(r.date.y);\n  if (!byYear.has(y)) byYear.set(y, []);\n  byYear.get(y).push(r);\n}\n\nfunction deptGrid(rows) {\n  const grid = [RAW_TAB_HEADER.slice()];\n  for (const r of rows) {\n    grid.push([\n      cell(r.date.key), cell(r.month), cell(r.vendor), cell(r.name),\n      cell(r.clockin), cell(r.shift_name), cell(r.shift_id), cell(r.team),\n    ]);\n  }\n  return grid;\n}\n\nfunction summary1Grid(slim) {\n  const { counts, pct, monthLabels } = showupBlock(slim);\n  const header = [\"bucket\"].concat(monthLabels, monthLabels.map((m) => m + \" %\"));\n  const grid = [header];\n  for (const b of BUCKET_ORDER) {\n    const row = [b];\n    for (const m of monthLabels) row.push(cell(counts[b][m]));\n    for (const m of monthLabels) row.push(cell(pct[b][m]));\n    grid.push(row);\n  }\n  return grid;\n}\n\nfunction objRowsGrid(objs, cols) {\n  const grid = [cols.slice()];\n  for (const o of objs) grid.push(cols.map((c) => cell(o[c])));\n  return grid;\n}\n\nconst out = [];\nfor (const year of Array.from(byYear.keys()).sort()) {\n  const yrows = byYear.get(year);\n  // slim {name,date,team} slice drives the 3 summaries (all the engine needs)\n  const slim = yrows.map((r) => ({ name: r.name, date: r.date, team: r.team }));\n\n  const tabs = {};\n  for (const dept of DEPARTMENTS) {\n    tabs[dept] = deptGrid(yrows.filter((r) => r.dept === dept));\n  }\n  tabs[\"Summary_1\"] = summary1Grid(slim);\n  tabs[\"Summary_Rotation\"] = objRowsGrid(rotationSummary(slim), ROTATION_COLS);\n  tabs[\"Summary_5\"] = objRowsGrid(streakMonthCrosstab(slim), STREAK_COLS);\n\n  out.push({\n    json: {\n      year: year,\n      departments: DEPARTMENTS,     // written RAW\n      summaryTabs: SUMMARY_TABS,    // written USER_ENTERED\n      workers: new Set(slim.map((r) => r.name)).size,\n      rows: slim.length,\n      tabs: tabs,\n    },\n  });\n}\nreturn out;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -752
      ],
      "id": "83e664fb-9ae9-4110-89fb-501b993430e8",
      "name": "Compute Tabs"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Central').first().json.centralId }}?fields=sheets.properties(sheetId,title)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        -528
      ],
      "id": "4060afab-b311-4c04-9833-80e89ba8b05b",
      "name": "Get Central Meta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * n8n Code node \"Build Write\".\n * Mode: \"Run Once for Each Item\". Language: JavaScript.\n * (No engine.js needed here -- this is pure request-body assembly.)\n *\n * Sits at the end of the write chain:\n *   [Compute Tabs] -> [Get Central Meta] (HTTP GET the central spreadsheet's\n *   sheet list) -> THIS -> [Prepare] -> [Clear] -> [Write Dept] -> [Write Summary]\n *\n * It builds the four Google Sheets API request bodies that reproduce app.py's\n * per-year write exactly:\n *   prepareBody  -> spreadsheets.batchUpdate : add any missing tab, resize\n *                   every target tab to fit its grid (values:batchUpdate does\n *                   NOT grow a sheet, so this sizing is mandatory).\n *   clearBody    -> values:batchClear       : wipe all 7 tabs (recompute from\n *                   scratch, no stale rows).\n *   deptBody     -> values:batchUpdate RAW   : 4 department tabs (IDs like\n *                   Shift_id/team must not be reinterpreted as numbers).\n *   summaryBody  -> values:batchUpdate USER_ENTERED : 3 summary tabs (counts/\n *                   percentages land as real numbers, no leading apostrophe).\n *\n * Inputs it reads (by node name -- keep these names exact):\n *   $('Compute Tabs').item.json  -> {year, departments, summaryTabs, tabs}\n *   $json                        -> [Get Central Meta] response, the spreadsheet\n *                                   with sheets[].properties.{sheetId,title}\n *   $('Central').item.json.centralId -> the spreadsheet id for this year\n */\n\nconst compute = $('Compute Tabs').item.json;   // {year, departments, summaryTabs, tabs}\nconst meta = $json;                             // { sheets: [{properties:{sheetId,title}}], ... }\n// Central is a single-item node upstream of the per-file fan-out, so .first()\n// (not .item) -- paired-item lineage isn't reliable back across the aggregation.\nconst centralId = $('Central').first().json.centralId;\n\nif (!centralId) throw new Error(\"Central.centralId is empty -- the find/create-central branch didn't set it\");\n\nconst tabs = compute.tabs;\nconst deptNames = compute.departments;          // written RAW\nconst summaryNames = compute.summaryTabs;       // written USER_ENTERED\nconst allTitles = deptNames.concat(summaryNames);\n\nconst existing = {};\nfor (const s of (meta.sheets || [])) {\n  if (s.properties && s.properties.title != null) existing[s.properties.title] = s.properties.sheetId;\n}\n\nfunction quoted(t) { return \"'\" + String(t).replace(/'/g, \"''\") + \"'\"; }\n\n// size a tab to comfortably fit its grid (+buffer); values:batchUpdate can't grow it\nfunction neededSize(grid) {\n  const dataRows = grid ? grid.length : 1;\n  const dataCols = (grid && grid[0]) ? grid[0].length : 1;\n  return { rowCount: Math.max(dataRows + 50, 100), columnCount: Math.max(dataCols + 2, 26) };\n}\n\n// 1) prepare: add missing tabs, resize existing ones to fit\nconst requests = [];\nfor (const title of allTitles) {\n  const size = neededSize(tabs[title]);\n  if (title in existing) {\n    requests.push({\n      updateSheetProperties: {\n        properties: { sheetId: existing[title], gridProperties: size },\n        fields: \"gridProperties.rowCount,gridProperties.columnCount\",\n      },\n    });\n  } else {\n    requests.push({ addSheet: { properties: { title: title, gridProperties: size } } });\n  }\n}\nconst prepareBody = { requests: requests };\n\n// 2) clear all 7 tabs\nconst clearBody = { ranges: allTitles.map(quoted) };\n\n// 3) department values -- RAW\nconst deptBody = {\n  valueInputOption: \"RAW\",\n  data: deptNames.map((t) => ({ range: quoted(t) + \"!A1\", values: tabs[t] })),\n};\n\n// 4) summary values -- USER_ENTERED\nconst summaryBody = {\n  valueInputOption: \"USER_ENTERED\",\n  data: summaryNames.map((t) => ({ range: quoted(t) + \"!A1\", values: tabs[t] })),\n};\n\nreturn [{\n  json: {\n    centralId: centralId,\n    year: compute.year,\n    prepareBody: prepareBody,\n    clearBody: clearBody,\n    deptBody: deptBody,\n    summaryBody: summaryBody,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -528
      ],
      "id": "81d03a61-495f-454a-a39e-1982138f1c88",
      "name": "Build Write"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Build Write').item.json.centralId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Write').item.json.prepareBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -528
      ],
      "id": "d85ea3f8-5509-4c0a-a1af-844a7db13041",
      "name": "Prepare",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Build Write').item.json.centralId }}/values:batchClear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Write').item.json.clearBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -528
      ],
      "id": "3d27b42a-78bf-4d6a-9c7d-3cfd3579363e",
      "name": "Clear",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Build Write').item.json.centralId }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Write').item.json.deptBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        -528
      ],
      "id": "27ef2306-6c33-4ea1-9e94-d3000c0a15ff",
      "name": "Write Dept",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('Build Write').item.json.centralId }}/values:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Write').item.json.summaryBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -528
      ],
      "id": "0bd820af-a800-462b-8d96-e527ad32b085",
      "name": "Write Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a66f287-1f00-46d7-9864-97e71c9327b9",
              "name": "centralId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -752
      ],
      "id": "af9a9d6c-031d-4684-a629-c0b6b2c6dbd4",
      "name": "Central"
    }
  ],
  "connections": {
    "Set Year": {
      "main": [
        [
          {
            "node": "Search Sheet In Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists?": {
      "main": [
        [
          {
            "node": "Create Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet": {
      "main": [
        [
          {
            "node": "Move Into Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Into Folder": {
      "main": [
        [
          {
            "node": "Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sheet In Folder": {
      "main": [
        [
          {
            "node": "Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 11:00": {
      "main": [
        [
          {
            "node": "Set Year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Titles": {
      "main": [
        [
          {
            "node": "Get Tabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tabs": {
      "main": [
        [
          {
            "node": "Build Ranges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Read": {
      "main": [
        [
          {
            "node": "Clean Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ranges": {
      "main": [
        [
          {
            "node": "Batch Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Rows": {
      "main": [
        [
          {
            "node": "Compute Tabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Tabs": {
      "main": [
        [
          {
            "node": "Get Central Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Central Meta": {
      "main": [
        [
          {
            "node": "Build Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Write": {
      "main": [
        [
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear": {
      "main": [
        [
          {
            "node": "Write Dept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Dept": {
      "main": [
        [
          {
            "node": "Write Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bfda752d0f10c69b897a741380d5efa9dafee1419424a3fe0740f77110c613a"
  }
}