n8n/soc-daily-sync.json
{
  "name": "SOC Daily Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "77ffdd4f-ce12-4d58-a9d8-1b7c3e1de5fd",
      "name": "Daily 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://burmese-8ere.onrender.com/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 340000
        }
      },
      "id": "e7ba064b-f540-474d-bf57-4a2de10e93a4",
      "name": "Call SOC Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -64
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fS2z07UNqaLdmob3",
          "name": "Header Auth account 17"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "year",
              "value": "={{ $now.toFormat('yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "35af7ef6-be10-4149-8ebe-cac6cc739937",
      "name": "Set Year",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "869cc3fc-e236-4843-a51d-4abd5c5f4cf6",
      "name": "Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        -176
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Set Year').item.json.year }}",
        "options": {}
      },
      "id": "3534a3fc-090b-49d2-8b36-063ebf7b79ef",
      "name": "Create Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        -256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Xlg3ncgR0yQtH9E",
          "name": "Google Sheets account 215"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheetId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K",
          "mode": "id"
        }
      },
      "id": "2d74185d-38c7-4eff-934a-6ed59338c06a",
      "name": "Move Into Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        -256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://burmese-8ere.onrender.com/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 340000
        }
      },
      "id": "c44ff8af-4c7d-4613-89ab-ecfa1f293b3a",
      "name": "Call SOC Sync1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -256
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "fS2z07UNqaLdmob3",
          "name": "Header Auth account 17"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{ $json.year }}' and '1oDCnJmwIjedcHNtSyd_Hr-B5HDhZIN4K' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "4a420f7d-4222-44c9-a90b-0b783b931f28",
      "name": "Search Sheet In Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ON1340wgANLdRG8m",
          "name": "Google Drive account 104"
        }
      }
    }
  ],
  "connections": {
    "Daily 06:00": {
      "main": [
        [
          {
            "node": "Set Year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call SOC Sync": {
      "main": [
        []
      ]
    },
    "Set Year": {
      "main": [
        [
          {
            "node": "Search Sheet In Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists?": {
      "main": [
        [
          {
            "node": "Create Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call SOC Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet": {
      "main": [
        [
          {
            "node": "Move Into Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Into Folder": {
      "main": [
        [
          {
            "node": "Call SOC Sync1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sheet In Folder": {
      "main": [
        [
          {
            "node": "Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bfda752d0f10c69b897a741380d5efa9dafee1419424a3fe0740f77110c613a"
  }
}
